<div class="fixed-width">
    <div id="page-contents">
        <nav class="main" main-navigation=""></nav>
        <div class="form-wrap full-width">
            <div class="change-plan">
                <h1><i class="icon-shopping-cart"></i>Choose your new account plan</h1>
                <table id="plans-table">
                    <tr>
                        <th></th>
                        <th><h2>Basic</h2></th>
                        <th><h2>Extended</h2></th>
                        <th><h2>Premium</h2></th>
                    </tr>
                    <tr>
                        <th>
                            <h2>Maximum listeners</h2>
                        </th>
                        <td>20</td>
                        <td>100</td>
                        <td>500</td>
                    </tr>
                    <tr>
                        <th>
                            <h2>Maximum radio stations</h2>
                        </th>
                        <td>1 radio station</td>
                        <td>2 radio stations</td>
                        <td>5 radio stations</td>
                    </tr>
                    <tr>
                        <th>
                            <h2>Available space for audio</h2>
                        </th>
                        <td>8 hours</td>
                        <td>24 hours</td>
                        <td>120 hours</td>
                    </tr>
                    <tr>
                        <th>
                            <h2>Maximal listening quality</h2>
                        </th>
                        <td>up to 128 kbps</td>
                        <td>up to 320 kbps</td>
                        <td>up to 320 kbps</td>
                    </tr>
                    <tr>
                        <th><h2>Price</h2></th>
                        <td><h2>free</h2></td>
                        <td><h2>$2.50</h2>/month</td>
                        <td><h2>$5.00</h2>/month</td>
                    </tr>
                    <tr>
                        <th></th>
                        <td></td>
                        <td><a target="_blank" class="buy_button" href="/subscribe?plan_id=2">Subscribe</a></td>
                        <td><a target="_blank" class="buy_button" href="/subscribe?plan_id=4">Subscribe</a></td>
                    </tr>
                </table>
            </div>
            <form class="float" name="plan_form" ng-submit="submit()" novalidate="novalidate" ng-controller="ChangePlanController">
                <h1 class="form-title">
                    <i class="icon-shopping-cart"></i>
                    <translate filter="uppercase">FR_CHANGE_PLAN_TITLE</translate>
                </h1>
                <div class="status" bind-html="data.error"></div>
                <table class="form-table">
                    <tr>
                        <td>
                            <label for="code">
                                <translate>FR_ENTER_PROMO_CODE</translate>
                            </label>
                        </td>
                        <td>
                            <input type="text" name="code" id="code" ng-model="data.code" ng-required="true" autocomplete="off" ng-focus="true" />
                            <div class="validation" ng-show="plan_form.code.$focused && plan_form.code.$dirty">
                                <div ng-if="plan_form.code.$error.required">
                                    <translate>FR_PROMO_MUST_BE_FILLED</translate>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
                <input ng-disabled="plan_form.$invalid" type="submit" value="{{ tr('FR_SUBMIT') }}" style="float:right">
            </form>
        </div>
    </div>
</div>