<div class="metadata-editor" ng-enter="save()">
    <h1><i class="icon-mode-edit"></i> EDIT INFO</h1>
    <div class="subinfo">
        <span>for </span>
        <span class="bold" ng-if="source.length > 1">{{ source.length }} tracks</span>
        <span class="bold" ng-if="source.length == 1">{{ source[0].filename }}</span>
    </div>
    <table class="editor">
        <tr>
            <td>Title:</td>
            <td><input type="checkbox" ng-model="metadata.saveTitle"></td>
            <td><input ng-disabled="!metadata.saveTitle" type="text" ng-model="metadata.title"/></td>
        </tr>
        <tr>
            <td>Artist:</td>
            <td><input type="checkbox" ng-model="metadata.saveArtist"></td>
            <td><input ng-disabled="!metadata.saveArtist" type="text" ng-model="metadata.artist"/></td>
        </tr>
        <tr>
            <td>Album:</td>
            <td><input type="checkbox" ng-model="metadata.saveAlbum"></td>
            <td><input ng-disabled="!metadata.saveAlbum" type="text" ng-model="metadata.album"/></td>
        </tr>
        <tr>
            <td>Track Number:</td>
            <td><input type="checkbox" ng-model="metadata.saveTrackNumber"></td>
            <td><input ng-disabled="!metadata.saveTrackNumber" type="text" ng-model="metadata.trackNumber"/></td>
        </tr>
        <tr>
            <td>Genre:</td>
            <td><input type="checkbox" ng-model="metadata.saveGenre"></td>
            <td><input ng-disabled="!metadata.saveGenre" type="text" mor-suggest="lib.genres" ng-model="metadata.genre"/></td>
        </tr>
        <tr>
            <td>Date:</td>
            <td><input type="checkbox" ng-model="metadata.saveDate"></td>
            <td><input ng-disabled="!metadata.saveDate" type="text" ng-model="metadata.date"/></td>
        </tr>
        <tr>
            <td>Buy link:</td>
            <td><input type="checkbox" ng-model="metadata.saveBuy"></td>
            <td><input ng-disabled="!metadata.saveBuy" type="text" ng-model="metadata.buy"/></td>
        </tr>
        <tr ng-if="account.user.uid === 1">
            <td>Cue data:</td>
            <td><input type="checkbox" ng-model="metadata.saveCue"></td>
            <td>
                <textarea ng-disabled="!metadata.saveCue" ng-model="metadata.cue"></textarea>
            </td>
        </tr>
    </table>
    <div class="controls">
        <div class="button" ng-click="save()">Save</div>
        <div class="button" ng-click="closeThisDialog()">Cancel</div>
    </div>
</div>