<div class="fixed-width">
    <div id="page-contents">
        <nav class="main" main-navigation=""></nav>
        <div class="form-wrap full-width" ng-controller="ProfileController">
            <h1>
                <i class="icon-account-child"></i>
                <translate filter="uppercase">FR_PROFILE_TITLE</translate>
            </h1>
            <div class="profile-info">
                <h2>
                    <translate filter="uppercase">FR_PROFILE_USER_INFO</translate>
                </h2>
                <table class="basic-info">
                    <tr>
                        <td>
                            <translate>FR_USER_NAME</translate>
                        </td>
                        <td>{{account.user.name}}</td>
                    </tr>
                    <tr>
                        <td>
                            <translate>FR_USER_LOGIN</translate>
                        </td>
                        <td>{{account.user.login}}</td>
                    </tr>
                    <tr>
                        <td>
                            <translate>FR_USER_COUNTRY</translate>
                        </td>
                        <td>{{ account.user.country_id !== null ? lib.countries[account.user.country_id - 1].country_name : "Unspecified" }}</td>
                    </tr>
                    <tr>
                        <td>
                            <translate>FR_USER_INFORMATION</translate>
                        </td>
                        <td>{{account.user.info}}</td>
                    </tr>
                </table>
                <h2>
                    <translate filter="uppercase">FR_PROFILE_MEDIA_INFO</translate>
                </h2>
                <table class="basic-info">
                    <tr>
                        <td>
                            <translate>FR_PROFILE_TOTAL_TRACKS</translate>
                        </td>
                        <td>{{ account.user.tracks_count }}</td>
                    </tr>
                    <tr>
                        <td>
                            <translate>FR_PROFILE_TOTAL_CHANNELS</translate>
                        </td>
                        <td>
                            {{ account.user.streams_count }}
                            <span ng-if="account.user.plan_data.streams_max">of {{ account.user.plan_data.streams_max }}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <translate>FR_PROFILE_TRACKS_DURATION</translate>
                        </td>
                        <td>{{ account.user.tracks_duration | humanTime }}</td>
                    </tr>
                </table>
                <h2>
                    <translate filter="uppercase">FR_PROFILE_ACCOUNT_INFO</translate>
                </h2>
                <table class="basic-info">
                    <tr>
                        <td>
                            <translate>FR_PROFILE_ACCOUNT_PLAN</translate>
                        </td>
                        <td>
                            {{ account.user.plan_data.plan_name }}
                            <small style="padding-left: 4px"><a href="/profile/plan" bind-html="tr('FR_CHANGE')"></a></small>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <translate>FR_PROFILE_ACCOUNT_EXPIRE</translate>
                        </td>
                        <td>
                            <span ng-if="account.user.plan_expires">{{ account.user.plan_expires * 1000 | date : 'mediumDate' }}</span>
                            <span ng-if="!account.user.plan_expires" bind-html="tr('FR_NEVER')"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <translate>FR_PROFILE_ACCOUNT_TILE_LEFT</translate>
                        </td>
                        <td>{{ (account.user.plan_data.time_max - account.user.tracks_duration) | humanTime }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>