<div class="fixed-width">
    <div id="page-contents">
        <nav class="main" main-navigation=""></nav>
        <div class="form-wrap full-width" ng-controller="MyStreamsController">
            <div class="stats">Tracks: <b>{{ account.user.tracks_count }}</b> | Channels: <b>{{ account.user.streams_count }}</b></div>
            <h1><i class="icon-wifi-tethering"></i> MY RADIO CHANNELS</h1>
            <div class="my-streams-wrapper">
                <div class="streams-actions">
                    <a href="/profile/new-stream"><i class="icon-magic"></i> Create new radio channel</a>
                </div>
                <div class="table">
                    <ul class="row caption">
                        <li class="cell"></li>
                        <li class="cell">Channel name</li>
                        <li class="cell">Actions</li>
                        <li class="cell">Listeners</li>
                        <li class="cell">Tracks</li>
                        <li class="cell">Duration</li>
                    </ul>
                    <ul class="row" ng-repeat="stream in account.streams"
                        context-menu="" data-target="stream-menu-{{$index}}"
                        onselectstart='return false;' unselectable='on'>

                        <li class="cell">
                            <a ng-click="changeStreamState(stream)" mor-tooltip="Start or stop streaming">
                                <span ng-if="stream.status == 0"><i class="icon-portable-wifi-off"></i></span>
                                <span ng-if="stream.status != 0"><i class="icon-wifi-tethering"></i></span>
                            </a>
                        </li>
                        <li class="cell">
                            <a ng-href="/profile/streams/{{stream.sid}}" ng-bind="stream.name"></a>
                            <ul class="context-menu select-persistent fixed" id="stream-menu-{{$index}}">
                                <li class="menu-item">
                                    <a ng-click="changeStreamState(stream)">
                                        <span ng-if="stream.status != 0"><i class="icon-stop2"></i> Stop streaming</span>
                                        <span ng-if="stream.status == 0"><i class="icon-play"></i> Start streaming</span>
                                    </a>
                                </li>
                                <li class="menu-item divider"></li>
                                <li class="menu-item">
                                    <a ng-href="/profile/edit-stream/{{stream.sid}}"><i class="icon-mode-edit"></i> Edit information</a>
                                </li>
                                <li class="menu-item">
                                    <a ng-href="/profile/streams/{{stream.sid}}"><i class="icon-toc"></i> Edit tracks list</a>
                                </li>
                                <li class="menu-item divider"></li>
                                <li class="menu-item">
                                    <a ng-click="deleteStream(stream)"><i class="icon-trash"></i> Delete</a>
                                </li>
                            </ul>
                        </li>
                        <li class="cell">
                            <a href="/profile/edit-stream/{{stream.sid}}" mor-tooltip="Edit channel information">
                                <i class="icon-mode-edit"></i>
                            </a>
                            <a href="/profile/streams/{{stream.sid}}" mor-tooltip="Edit channel tracks list">
                                <i class="icon-toc"></i>
                            </a>
                            <a mor-tooltip="Delete this stream" ng-click="deleteStream(stream)">
                                <i class="icon-trash"></i>
                            </a>
                        </li>
                        <li class="cell" ng-bind="stream.listeners_count"></li>
                        <li class="cell" ng-bind="stream.tracks_count"></li>
                        <li class="cell" ng-bind="stream.tracks_duration | msToTime"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>