<div class="uploader">
    <h1>UPLOAD AUDIO FILES</h1>

    <div ng-if="!progress.status">
        <div class="controls">
            <div class="upload-frame" ng-click="browse()"
                 mor-tooltip="Click here to select audio files from your computer">
                <i class="icon-cloud-upload"></i> Select files from PC...
            </div>
            <div class="selected-files" ng-if="uploadQueue.length">
                <h2>Selected {{uploadQueue.length}} files:</h2>
                <div class="scroll-y">
                    <ul class="list table">
                        <li class="row" ng-repeat="file in uploadQueue">
                            <div class="cell">{{file.name}}</div>
                            <div class="cell">{{file.size | bytes}}</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="stream-selector">
            Automatically add uploaded tracks to this stream:
            <div class="padding"></div>
            <select name="stream_id" ng-model="options.target" ng-options="stream.sid as stream.name for stream in account.streams">
                <option value="" selected>None</option>
            </select>
        </div>
    </div>

    <div class="progress" ng-if="progress.status">
        Uploading <b>{{ progress.file }}</b>... <span ng-if="uploadQueue.length">(left: {{ uploadQueue.length }})</span>
    </div>

    <div class="buttons">
        <span class="button" ng-click="cancel()" mor-tooltip="Cancel upload">Cancel</span>
        <span ng-if="uploadQueue.length && !progress.status" class="button" ng-click="upload()"
              mor-tooltip="Begin upload">Upload</span>
    </div>

</div>