<div class="uploader">
    <h1>UPLOAD AUDIO FILES</h1>
    <div ng-if="!progress.status">
        <div class="info-block">
            <translate>FR_UPLOAD_MESSAGE</translate>
            <ul class="enumerate">
                <li><translate>FR_UPLOAD_CONDITION_1</translate></li>
                <li><translate>FR_UPLOAD_CONDITION_2</translate></li>
                <li><translate>FR_UPLOAD_CONDITION_3</translate></li>
                <li><translate>FR_UPLOAD_CONDITION_4</translate></li>
                <li><translate>FR_UPLOAD_CONDITION_5</translate></li>
            </ul>
        </div>
        <div class="controls">
            <div class="upload-frame" ng-click="browse()" mor-tooltip="{{ tr('FR_UPLOAD_BUTTON_HINT') }}">
                <i class="icon-cloud-upload"></i>
                <translate>FR_UPLOAD_BUTTON_TEXT</translate>
            </div>
            <div class="selected-files" ng-if="uploadQueue.length">
                <h2><translate args="[uploadQueue.length]">FR_UPLOAD_SELECTED_COUNT</translate></h2>
                <div class="scroll-y">
                    <ul class="list table">
                        <li class="row" ng-repeat="file in uploadQueue">
                            <div class="cell">{{file.name}}</div>
                            <div class="cell">{{file.size | bytes}}</div>
                            <div class="cell">del</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="stream-selector">
            <translate>FR_UPLOAD_ADD_TO_STREAM</translate>
            <div class="padding"></div>
            <select name="stream_id" ng-model="options.target" ng-options="stream.sid as stream.name for stream in account.streams">
                <option value="" selected bind-html="tr('FR_NONE')"></option>
            </select>
        </div>
    </div>

    <div class="progress" ng-if="progress.status">
        <translate args="[progress.file]">FR_UPLOADING_FILE</translate>
        <span ng-if="uploadQueue.length">
            <translate args="[uploadQueue.length]">FR_UPLOADING_LEFT</translate>
        </span>
    </div>

    <div class="buttons">
        <span class="button" ng-click="cancel()" mor-tooltip="{{ tr('FR_UPLOAD_CANCEL_HINT') }}">
            <translate>FR_CANCEL</translate>
        </span>
        <span ng-if="uploadQueue.length && !progress.status" class="button" ng-click="upload()" mor-tooltip="{{ tr('FR_UPLOAD_START_HINT') }}">
            <translate>FR_UPLOAD</translate>
        </span>
    </div>

</div>