@keyframes skeletonBounce {
    from, 50% {
        background-color: #282d41;
    }
    75% {
        background-color: #2d3349;
    }
    to {
        background-color: #282d41;
    }
}

.skeletonAnimation {
    animation: skeletonBounce 1s infinite;
}
