<span style="font-size: 12pt">
    <b>Successfully registered on Radioterio</b><br>
    <br>
    Yay!<br>
    <br>
    You're successfully signed up on <a href="https://radioter.io/">Radioterio</a>.
    You can login to your account by following this link:<br>
    <br>
    <a href='https://radioter.io/login'>Login</a><br>
    <br>
    Sincerely yours,<br>
    The Radioterio Team
</span>
