<span style="font-size: 12pt;">
    <b>Thank you for joining the Myownradio service!</b><br>
    To confirm your email address and complete registration please follow this link:
    <a href="${domain}/signup/${confirm}">${domain}/signup/${confirm}</a><br>
    <br>
    Our Best,<br>
    <b>Myownradio team</b>
</span>
