<span style="font-size: 12pt;">
    <b>Thank you for joining Radioterio!</b><br><br>
    To confirm your email address and complete your registration, please click the link below:<br>
    <a href="${domain}/signup/${confirm}">Confirm Your Email</a><br><br>

    Best regards,<br>
    <b>The Radioterio Team</b>
</span>