<span style="font-size: 12pt;">
    <b>Welcome to Radioterio!</b><br><br>

    Yay!<br><br>

    You've successfully joined <a href="${domain}">Radioterio</a>.<br>
    You can log in to your account by clicking the link below:<br><br>

    <a href="${domain}/login">Log In to Your Account</a><br><br>

    Best regards,<br>
    The Radioterio Team
</span>