    <b>Reset Your Password on Radioterio</b><br><br>
    Hello, <b>${name}</b>! We've received a request to reset your password on <b>Radioterio</b>.
    Your login is <b>${login}</b> if you need it.<br><br>

    To reset your password, please click the link below. If you didn't make this request or don't need a reset,
    you can ignore this email and keep using your current password.<br><br>

    <a href="${domain}/recover/${code}">Reset Password</a><br><br>

    Best regards,<br>
    The Radioterio Team
