<span style='font-size: 12pt;'>
    <b>Reset password on Myownradio server</b><br><br>
    Hello, <b>${name}</b>! We received a request to reset password on <b>myownradio.biz</b>.
    If you forget your login it is '<b>${login}</b>'. If you want to reset password, please visit the link below.
    If you did not make this request, or you changed your mind, you can ignore this request and continue using
    your existing password.<br><br>
    <a href='https://myownradio.biz/recover/${code}'>Reset password</a><br>
    <br>
    Sincerely yours,<br>
    Myownradio team
</span>
