# Set the default behavior, in case people don't have core.autocrlf set.
* text eol=lf

# Denote all files that are truly binary and should not be modified.
*.aac binary
*.flac binary
*.m4a binary
*.mp3 binary
*.ogg binary
*.wav binary
