# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Known source code file formats.
*.css text eol=lf
*.scss text eol=lf
*.sass text eol=lf
*.js text eol=lf
*.ts text eol=lf
*.jsx text eol=lf
*.tsx text eol=lf
*.php text eol=lf
*.json text eol=lf
*.yaml text eol=lf
*.md text eol=lf
*.rs text eol=lf
*.rs text eol=lf
*ignore text eol=lf
*.toml text eol=lf
