<div class="fixed-width">
    <div id="page-contents">
        <div class="form-wrap">
            <h1>
                <i class="icon-done"></i>
                <translate filter="uppercase">FR_PASSWORD_CHANGED</translate>
            </h1>
            <div class="hint top">
                <translate>FR_PASSWORD_SUCCESS</translate>
            </div>
            <a class="right" href="/login/" type="button">
                <translate>FR_LOGIN</translate>
            </a>
        </div>
    </div>
</div>