body {
    color: #828282;
    font-family: Verdana, sans-serif;
    position: relative;
}

.wrap {
    left: 50%;
    top: 45%;
    position: fixed;
    height: 180px;
    transform: translateX(-50%) translateY(-50%);
}

.wrap h1 {
    font-size: 48px;
    text-align: center;
}

.wrap #body {
    text-align: center;
}

.uri {
    background-color: #a2a2a2;
    color: #ffffff;
    border-radius: 4px;
    padding: 4px 4px;
}
