<!DOCTYPE html>
<html>
<head>
    <title>HTTP/1.1 500 Internal Server Error</title>
    <link rel="stylesheet" href="/backend/styles/error.css" type="text/css"/>
</head>
<body>
<div class="wrap">
    <h1>ERROR 500</h1>
    <div id="body">Something wrong on a server side. Please wait for a while and try again.</div>
    <div id="message"><b>Server message</b>: {{ message }}</div>
</div>
</body>
</html>