<!DOCTYPE html>
<html>
<head>
    <title>HTTP/1.1 404 Not found</title>
    <link rel="stylesheet" href="/backend/styles/error.css" type="text/css"/>
</head>
<body>
<div class="wrap">
    <h1>ERROR 404</h1>
    <div id="body">Resource <span class="uri">{{ uri }}</span> could not be found on this server</div>
</div>
</body>
</html>