<div class="fixed-width">
    <div id="page-contents">
        <div class="page-sub-title">
            <translate>FR_CATEGORIES_TITLE</translate>
        </div>
        <ul class="categories_container">
            <li ng-repeat="category in lib.categories" ng-if="category.streams_count > 0">
                <a href="/streams/?category={{ category.category_id }}">
                    <img fadein ng-src="/images/categories/{{ category.category_id + 1 }}.png" />
                    <div class="fixed">
                        <div class="name">
                            <span ng-bind="category.category_name"></span>
                        </div>
                    </div>
                    <div class="streams">
                        <span>
                            <span class="bigger" ng-bind="category.streams_count"></span>
                            <br>
                            <translate args="category.streams_count">FR_CATEGORIES_LIST_LABEL</translate>
                        </span>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>