<div class="footer-background">
    <div class="footer-content fixed-width">
        <ul class="footer-content-list">
            <li>
                <a href="/" ng-bind="tr('FR_HOME')"></a> |
                <a href="/streams/" ng-bind="tr('FR_BROWSE_CHANNELS')"></a> |
                <a href="mailto:support@myownradio.biz" ng-bind="tr('FR_REPORT_QUESTION')" ></a> |
                <a>myownradio.biz &copy; 2014-2015</a> |
                <a>{{ tr('FR_LISTENERS') }}: <span ng-bind="stats.listeners_count">0</span></a>
            </li>
        </ul>
    </div>
</div>