<div class="hello-page">
    <div class="fixed-width">
        <div class="big-description">
            <div class="dark-background">
                <translate>FR_WELCOME_MESSAGE</translate>
            </div>
            <div class="main-actions">
                <a class="page-button" href="/streams/" mor-tooltip="{{ tr('FR_CLICK_TO_BROWSE') }}">
                    <translate>FR_BROWSE_STREAMS</translate>
                </a>
                <span class="only-first-element" ng-switch="account.authorized === true">
                    <a class="page-button ng-cloak" ng-switch-when="false" ng-href="/login">
                        <translate>FR_LOGIN_TOOLTIP</translate>
                    </a>
                    <a class="page-button ng-cloak" ng-switch-when="true" ng-href="/profile/">
                        <translate>FR_PROFILE_TOOLTIP</translate>
                    </a>
                </span>
            </div>
        </div>
    </div>
</div>