<div class="hello-page">
    <div class="fixed-width">
        <div class="big-description">
            <div class="dark-background" ng-bind="tr('FR_WELCOME_MESSAGE')"></div>
            <div class="main-actions">

                <a class="page-button" href="/streams/" mor-tooltip="{{ tr('FR_CLICK_TO_BROWSE') }}" ng-bind="tr('FR_BROWSE_STREAMS')"></a>

                <span class="only-first-element" ng-switch="account.authorized === true">
                    <a class="page-button ng-cloak" ng-switch-when="false" ng-href="/login" ng-bind="tr('FR_LOGIN_TOOLTIP')"></a>
                    <a class="page-button ng-cloak" ng-switch-when="true" ng-href="/profile/" ng-bind="tr('FR_PROFILE_TOOLTIP')"></a>
                </span>

            </div>
        </div>
    </div>
</div>