<div class="fixed-width">
    <div id="page-contents">
        <div class="form-wrap">
            <form name="login" ng-submit="submit()" novalidate="novalidate">
                <h1><i class="icon-https"></i>{{ tr('FR_LOGIN') | uppercase }}</h1>
                <div class="status">{{ status }}</div>
                <table class="form-table">
                    <tr>
                        <td><label for="login">{{ tr('FR_LOGIN') }}:</label></td>
                        <td>
                            <input type="text"
                                   id="login"
                                   name="login"
                                   ng-model="credentials.login"
                                   ng-required="true"
                                   ng-focus=""
                                   autocomplete="true"
                                    />

                            <div class="validation" ng-if="login.login.$error.required && login.login.$focused">
                                {{ tr('FR_LOGIN_MUST_BE_FILLED') }}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="password">{{ tr('FR_PASSWORD') }}:</label></td>
                        <td>
                            <input  type="password"
                                    name="password"
                                    id="password"
                                    ng-model="credentials.password"
                                    ng-required="true"
                                    ng-focus
                                    />

                            <div class="validation" ng-if="login.password.$error.required && login.password.$focused">
                                {{ tr('FR_PASSWORD_MUST_BE_FILLED') }}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <input type="checkbox" id="save" name="save" ng-model="credentials.save" />
                            <label for="save">{{ tr('FR_REMEMBER_ME') }}</label>
                        </td>
                    </tr>
                </table>
                <div class="social-login">
                    <span class="button fl_r" ng-click="signUpFacebook()"><i class="icon-facebook2"></i> Facebook</span>
                    <span style="padding-right: 4px">{{ tr('FR_OR_LOGIN_SOCIAL') }}:</span>
                </div>
                <div class="hint bottom">
                    {{ tr('FR_DONT_HAVE_ACCOUNT') }} <a href="/signup" ng-bind="tr('FR_CREATE_IT')"></a><br>
                    {{ tr('FR_FORGOT_PASSWORD') }} <a href="/recover" ng-bind="tr('FR_RECOVER_IT')"></a>
                </div>
                <input ng-disabled="login.$invalid" type="submit" value="Login" style="float:right">
            </form>
        </div>
    </div>
</div>