<div class="fixed-width">
    <div id="page-contents">
        <div class="form-wrap">
            <form name="login" ng-submit="submit()" novalidate="novalidate">
                <h1><i class="icon-https"></i>LOGIN</h1>
                <div class="status">{{ status }}</div>
                <table class="form-table">
                    <tr>
                        <td><label for="login">Login:</label></td>
                        <td>
                            <input type="text"
                                   id="login"
                                   name="login"
                                   ng-model="credentials.login"
                                   ng-required="true"
                                   ng-focus=""
                                   autocomplete="true"
                                    />

                            <div class="validation" ng-if="login.login.$error.required && login.login.$focused">
                                Login must be filled
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Password:</td>
                        <td>
                            <input  type="password"
                                    name="password"
                                    id="password"
                                    ng-model="credentials.password"
                                    ng-required="true"
                                    ng-focus
                                    />

                            <div class="validation" ng-if="login.password.$error.required && login.password.$focused">
                                Password must be filled
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <input type="checkbox" id="save" name="save" ng-model="credentials.save" />
                            <label for="save">Remember me on this computer</label>
                        </td>
                    </tr>
                </table>
                <div class="social-login">
                    <span class="button fl_r" ng-click="signUpFacebook()"><i class="icon-facebook2"></i> Facebook</span>
                    <span style="padding-right: 4px">or use social network to login:</span>
                </div>
                <div class="hint bottom">
                    Don't have an account yet? <a href="/signup">Create it!</a><br>
                    Forgot password? <a href="/recover">Recover it!</a>
                </div>
                <input ng-disabled="login.$invalid" type="submit" value="Login" style="float:right">
            </form>
        </div>
    </div>
</div>