<div class="fixed-width">
    <div id="page-contents">
        <div ng-if="account.authorized" ng-include="'/views/catalog/right-menu.html'"></div>
        <div class="page-sub-title">
            <pluralize count="data.channels.items.length" when="FR_CHANNELS_BY_BOOKMARKS_TITLE"></pluralize>
        </div>
        <div ng-include="'/views/catalog/grid-bookmarks.html'"></div>
        <div class="no-streams" ng-if="empty">
            <translate>FR_NO_STREAMS_BOOKMARKS</translate>
        </div>
    </div>
</div>