<div class="page-sub-title right">
    <a href="/streams/" active-tab="^\/streams\/">
        <translate>LABEL_POPULAR_STATIONS</translate>
    </a>
    |
    <a href="/new/" active-tab="^\/new\/">
        <translate>LABEL_NEW_STATIONS</translate>
    </a>
    <span ng-if="account.authorized">
        |
        <a href="/my/" active-tab="^\/my\/">
            <translate>LABEL_MY_STATIONS</translate>
        </a>
        |
        <a href="/bookmarks/" active-tab="^\/bookmarks\/">
            <translate>LABEL_MY_BOOKMARKS</translate>
        </a>
    </span>
</div>