<div ng-init="scheduleShown=false;schedule={source:null,destination:null}" synchronize="data.channel" sync-key="sid">

    <schedule ng-model="data.channel" on-interval="schedule.source"></schedule>
    <sync source="schedule.source" destination="schedule.destination"></sync>

    <div class="stream-info" mor-background-color="data.channel.cover_background">

        <div class="bg-gradient" ng-if="data.channel.cover">
            <div class="bg-image" d-background-image="{{ data.channel.cover | channelArtwork }}"></div>
        </div>

        <div class="fixed-width">
            <div id="controls">
                <div class="cover dark">
                    <img fadein="" ng-if="data.channel.cover" ng-src="{{ data.channel.cover | channelArtwork }}?size=192">
                </div>
                <div class="about">
                    <div class="tools">
                        <ul class="icons">
                            <li ng-if="data.channel.uid === account.user.uid">
                                <a href="/profile/edit-stream/{{ data.channel.sid }}">
                                    <i class="icon-mode-edit" mor-tooltip="{{ tr('FR_EDIT_CHANNEL_INFO') }}"></i>
                                </a>
                            </li>
                            <li ng-if="data.channel.uid === account.user.uid">
                                <a href="/profile/streams/{{ data.channel.sid }}">
                                    <i class="icon-toc" mor-tooltip="{{ tr('FR_EDIT_CHANNEL_TRACKLIST') }}"></i>
                                </a>
                            </li>
                            <li ng-if="data.channel.uid === account.user.uid" class="vertical-separator"></li>
                            <li>
                                <icon share="data.channel"></icon>
                            </li>
                            <li ng-init="badgeShown=false" ng-click-outside="badgeShown=false">
                                <i class="icon-settings" ng-class="{shown: badgeShown}" ng-click="badgeShown=!badgeShown" mor-tooltip="{{ tr('FR_SETTINGS') }}"></i>
                                <div ng-show="badgeShown" class="settings-badge">
                                    <h3>
                                        <translate>FR_PLAYER_AUDIO_FORMAT</translate>
                                    </h3>
                                    <h4 class="format">aac+</h4>
                                    <ul class="formats">
                                        <li ng-repeat="f in defaults.formats.aac"
                                            ng-class="{current: defaults.format == f.key}"
                                            ng-click="setDefaultFormat(f.key)"
                                            ng-bind="f.bitrate"></li>
                                    </ul>
                                    <div style="height: 4px"></div>
                                    <h4 class="format">mp3</h4>
                                    <ul class="formats">
                                        <li ng-repeat="f in defaults.formats.mp3"
                                            ng-class="{current: defaults.format == f.key}"
                                            ng-click="setDefaultFormat(f.key)"
                                            ng-bind="f.bitrate"></li>
                                    </ul>
                                    <div style="height: 4px"></div>
                                    <h4 class="format">m3u</h4>
                                    <ul class="formats">
                                        <li>
                                            <a target="_self" href="/content/m3u/{{ data.channel | channelKey }}.m3u">
                                                <translate>FR_PLAYER_OPEN_EXTERNAL</translate>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- CHANNEL TITLE -->
                    <div class="name">{{ data.channel.name | uppercase }}</div>
                    <div class="owner">
                        <i class="icon-user right-padded"></i>
                        <a href="{{ data.owner | userProfileLink }}">{{ data.owner | userProfileName }}</a>
                    </div>
                    <!-- CHANNEL STATS -->
                    <div class="stats">
                        <span mor-tooltip="{{ pl('FR_COUNT_USERS_LISTENING', data.channel.listeners_count) }}">
                            <i class="icon-hearing"></i>
                            <span>{{ data.channel.listeners_count | number }}</span>
                        </span>
                        <span mor-tooltip="{{ pl('FR_STREAM_BOOKMARKED_TIMES', data.channel.bookmarks_count) }}">
                            <i bookmark-icon="data.channel" class="icon-heart hoverable" ng-click="action.bookmark()"></i>
                            <span>{{ data.channel.bookmarks_count | number }}</span>
                        </span>
                        <span mor-tooltip="{{ pl('FR_STREAM_PLAYED_TIMES', data.channel.playbacks) }}">
                            <i class="icon-play-circle-fill"></i>
                            <span>{{ data.channel.playbacks | number }}</span>
                        </span>
                    </div>
                    <!-- PLAY BUTTON -->
                    <div class="now-playing-frame" ng-if="data.channel">
                        <div class="player">
                            <div mor-tooltip="Play / Stop" class="toggle" ng-click="action.play()">
                                <i play-icon="data.channel"></i>
                            </div>
                            <div ng-if="player.isPlaying && player.currentStream.sid == data.channel.sid">
                                <div class="key">
                                    {{ player.isBuffering ? tr('FR_BUFFERING') : tr("FR_NOW_PLAYING") }}
                                </div>
                                <div class="value">
                                    {{ player.nowPlaying.caption | uppercase }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="schedule-container">
            <div class="tracks-toggle" ng-click="scheduleShown = !scheduleShown">
                <span ng-show="!scheduleShown" class="tracks-toggle-text-content">
                    <i class="icon-chevron-down"></i>
                    <translate>FR_SHOW</translate>
                </span>
                <span ng-show="scheduleShown" class="tracks-toggle-text-content">
                    <i class="icon-chevron-up"></i>
                    <translate>FR_HIDE</translate>
                </span>
                <span class="tracks-toggle-text-content">
                    <translate>FR_RECENT_UPCOMING</translate>
                </span>
            </div>
            <div ng-class="{open: scheduleShown}" class="tracks-list">
                <div class="track-row" ng-class="{current: $index == schedule.source.current}" ng-repeat="track in schedule.destination.tracks">
                    <div class="fixed-width" synchronize="track" sync-key="tid">
                        <div class="track-duration" ng-bind="track.duration | msToTime"></div>
                        <div class="track-artist" ng-show="track.artist.length" ng-bind="track.artist"></div>
                        <div class="track-offset" ng-bind="($index == schedule.destination.current) ? 'now' : ((track.time_offset - schedule.destination.position) | msToSmallTime)"></div>
                        <div class="track-now">
                            <i class="icon-volume-up"></i>
                        </div>
                        <div class="track-title">
                            <span ng-bind="track.title"></span>
                            <span class="track-edit-tools" ng-if="data.channel.uid == account.user.uid">
                                <i class="icon-mode-edit" mor-tooltip="{{ tr('FR_EDIT_TRACK_INFO') }}" ng-click="trackAction.editTrack([track])"></i>
                                <i class="icon-trash" mor-tooltip="{{ tr('FR_REMOVE_TRACK_FROM_STREAM') }}" ng-click="action.removeTrack(track)"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style ng-if="data.channel.cover_background">.timeline-track { background-color: {{ data.channel.cover_background }} !important; }</style>
    <div class="fixed-width">
        <div class="container-padding">
            <div ng-if="!scheduleShown" class="timeline" time-line="schedule.source"></div>
            <div class="stream-stats-wrapper">
                <!--<div ng-if="data.channel.hashtags_array" class="taglist-wrapper" tags-list="data.channel.hashtags_array"></div>-->
                <div class="info" ng-bind="data.channel.info"></div>
            </div>
        </div>
    </div>
</div>

