<div class="footer-background">
    <div class="footer-content fixed-width">
        <ul class="footer-content-list">
            <li>
                <a href="/">
                    <translate>FR_HOME</translate>
                </a> |
                <a href="/streams/">
                    <translate>FR_BROWSE_CHANNELS</translate>
                </a> |
                <a href="mailto:support@radioter.io">
                    <translate>FR_REPORT_QUESTION</translate>
                </a> |
                <a>Radioterio (ex. myownradio.biz) &copy; 2014-2023</a>
            </li>
        </ul>
    </div>
</div>