<!DOCTYPE html>
<html ng-app="application">
<head>
    <base href="/">
    <meta content="en-us" http-equiv="Content-Language" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <meta name="application-name" content="myownradio"/>

    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link href="/css/legacy/reset.css" rel="stylesheet" type="text/css">
    <link href="/icomoon/style.css" rel="stylesheet" type="text/css">
    <link href="/widget/css/widget.css" rel="stylesheet" type="text/css">

    <!-- jQuery libraries -->
    <script src="/js/libs/jquery-2.1.3.min.js.gz"></script>
    <script src="/js/libs/jquery-migrate-1.2.1.min.js.gz"></script>

    <script src="/js/libs/jquery.livequery.min.js"></script>
    <script src="/js/libs/angular.min.js.gz"></script>
    <script src="/js/libs/mortip.js"></script>
    <script src="/js/audio5.js"></script>

    <script src="/widget/js/lite.ang.js"></script>

    <script src="/application/modules/api/api.core.js"></script>
    <script src="/application/modules/api/api.schedule.js"></script>
    <script src="/application/modules/mor.stream.scheduler.js"></script>

    <script src="/application/modules/filters/filter.object.js"></script>


</head>
<body ng-init="streamObject=null;streamExists=null;nowPlaying=null" ng-controller="WidgetPlayerController">
    <now ng-model="streamObject" on-track-change="nowPlaying"></now>
    <div class="widget-background" d-background-color="streamObject.cover_background">
        <div class="image" ng-if="streamObject.cover">
            <div class="blur" d-background-image="{{streamObject.cover_url}}?size=400"></div>
        </div>
        <div class="content table">
            <div class="row">
                <div class="cell">
                    <div class="cover">
                        <div class="button" ng-click="player.controls.playSwitchStream(streamObject)" mor-tooltip="Click to play or stop radio">
                            <i ng-hide="player.isPlaying" class="icon-play-default"></i>
                            <i ng-show="player.isPlaying" class="icon-pause-default"></i>
                        </div>
                        <img ng-if="streamObject.cover" ng-src="{{streamObject.cover_url}}?size=400">
                    </div>
                    <div class="info">
                        <div class="status">Now on air:</div>
                        <div class="title">{{ nowPlaying | trackCaption }}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            Powered by <a href="https://myownradio.biz">MyOwnRadio</a>
        </div>
    </div>
</body>
</html>