<script type="text/x-jquery-tmpl" id="moduleList">
    <li class="listModulesElement" data-module="${name}" data-module-alias="${alias}">
        <ul class="mlaction">
            <li class="ml-alias ${active}" title="${alias}">a</li>
        </ul>
        ${name}
    </li>
</script>
<script type="text/x-jquery-tmpl" id="openedList">
    <li data-module="${name}">${name}<span title="Close module" data-module="${name}" class="icon-close closer"></span></li>
</script>