<script id="questionBoxTemplate" type="text/x-jquery-tmpl">
<div class="rm_mbox_shader">
    <div class="rm_mbox_wrap dynTop">
        <div class="rm_mbox_header">
            Confirmation
            <div class="rm_mbox_close_btn">
                <img src="/images/closeButton.gif" />
            </div>
        </div>
        <div class="rm_mbox_text">${message}</div>
        <div class="rm_mbox_footer">
            <input type="button" class="rm_ui_def_button rm_mbox_btn_action" value="Yes" />
            <input type="button" class="rm_ui_def_button rm_mbox_btn_close" value="No" />
        </div>
    </div>
</div>
</script>

<script id="messageBoxTemplate" type="text/x-jquery-tmpl">
<div class="rm_mbox_shader">
    <div class="rm_mbox_wrap dynTop">
        <div class="rm_mbox_header">
            Information
            <div class="rm_mbox_close_btn">
                <img src="/images/closeButton.gif" />
            </div>
        </div>
        <div class="rm_mbox_text">${message}</div>
        <div class="rm_mbox_footer">
            <input type="button" class="rm_ui_def_button rm_mbox_btn_close" value="Close" />
        </div>
    </div>
</div>
</script>

