<script id="rmGuiPickerHepler" type="text/x-jquery-tmpl">
<div class="rm-gui-picker-container">
    <div class="-variants-block">
        <div class="rm-gui-picker-empty">No results</div>
        <ul class="-variants"></ul>
    </div>
</div>
</script>