<script id="streamTemplate" type="text/x-jquery-tmpl">
<li data-stream-id="${sid}" data-state="${status}" data-name="${name}" class="track-accept stream ${active}">
    <div title="Listen to this stream" class="rm_fl_right rm_playStream">
        <a href="/stream/${sid}#play">listen</a>
    </div>
    <div title="Number of tracks in stream" class="rm-streams-badge rm_fl_right">${tracks}</div>
    <a href="/radiomanager/stream?stream_id=${sid}" title="${name}">
        <i class="icon-feed stream-state-color"></i>
        ${name}
    </a>
</li>
</script>
