<script id="myOwnQuestionTemplate" type="text/x-jquery-tmpl">
<div class="rm-question-background">
    <div class="rm-question-border -rm-center">
        <div class="_close-question rm-question-close-button"><i class="icon-close no-margin"></i></div>
        <div class="rm-question-body">${message}</div>
        <div class="rm-action-buttons">
            <div class="rm-single-button rm-question-button _close-question">No</div>
            <div class="rm-single-button rm-question-button _accept-question">Yes</div>
        </div>
    </div>
</div>
</script>
<script id="myOwnCreateStreamTemplate" type="text/x-jquery-tmpl">
<div class="rm-question-background">
    <div class="rm-question-border -rm-center">
        <div class="_close-question rm-question-close-button"><i class="icon-close no-margin"></i></div>
        <div class="rm-question-body">
            <h1>Create stream</h1>
            <div class="rm-gui-alert-error"><b>Alert!</b> Try again.</div>
            <form class="rm-form-stream-create">
                <div class="rm-form-stream-create-wrapper">
                    <div class="rm-form-field-wrapper">
                        <div class="rm-form-field-title">Stream name:</div>
                        <div class="rm-form-field-input">
                            <input type="text" id="name" name="name" class="rm-form-input-text" placeholder="" autocomplete="off" />
                            <div id="name" class="rm-form-field-validate">Some error occured</div>
                        </div>
                    </div>
                    <div class="rm-form-field-wrapper">
                        <div class="rm-form-field-title">Stream category:</div>
                        <div class="rm-form-field-input">
                            <select name="category" class="rm-form-input-select"></select>
                        </div>
                    </div>
                    <div class="rm-form-field-wrapper">
                        <div class="rm-form-field-title">Stream genres:</div>
                        <div class="rm-form-field-input">
                            <div class="rm-form-input-text rm-gui-picker" read-only data-url="/api/v2/genres/getList"></div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="rm-action-buttons">
            <div class="rm-single-button rm-question-button _accept-question"><i class="icon-magic"></i>Create</div>
            <div class="rm-single-button rm-question-button _close-question"><i class="icon-close"></i>Cancel</div>
        </div>
    </div>
</div>
</script>
<script id="myOwnChangePassword" type="text/x-jquery-tmpl">
<div class="rm-question-background">
    <div class="rm-question-border -rm-center">
        <div class="_close-question rm-question-close-button"><i class="icon-close no-margin"></i></div>
        <div class="rm-question-body">
            <h1>Change password</h1>
            <form class="rm-form-change-password">
                <div class="rm-form-change-password-wrapper">
                    <div class="rm-form-field-wrapper">
                        <div class="rm-form-field-title">Your current password:</div>
                        <div class="rm-form-field-input">
                            <input type="password" id="old" name="old" class="rm-form-input-text" placeholder="" autocomplete="off" />
                            <div id="old" class="rm-form-field-validate">Some error occured</div>
                        </div>
                    </div>
                    <div class="rm-form-field-wrapper">
                        <div class="rm-form-field-title">Your new password:</div>
                        <div class="rm-form-field-input">
                            <input type="password" id="new1" name="new1" class="rm-form-input-text" placeholder="" autocomplete="off" />
                            <div id="new1" class="rm-form-field-validate">Some error occured</div>
                        </div>
                    </div>
                    <div class="rm-form-field-wrapper">
                        <div class="rm-form-field-title">Repeat:</div>
                        <div class="rm-form-field-input">
                            <input type="password" id="new2" name="new2" class="rm-form-input-text" placeholder="" autocomplete="off" />
                            <div id="new2" class="rm-form-field-validate">Some error occured</div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="rm-action-buttons">
            <div class="rm-single-button rm-question-button _close-question"><i class="icon-close"></i>Cancel</div>
            <div class="rm-single-button rm-question-button _accept-question"><i class="icon-magic"></i>Change</div>
        </div>
    </div>
</div>
</script>
