<script id="streamTrackTemplate" type="text/x-jquery-tmpl">
    <div class="rm_tracks_item" data-color="${color}" low-state="${lores}" track-id="${tid}" data-unique="${unique_id}" track-duration="${duration}" track-title="${title}" track-artist="${artist}" track-album="${album}" track-genre="${genre}">
        <div class="rm_tracks_cell"></div>
        <div class="rm_tracks_cell"></div>
        <div class="rm_tracks_cell" title="${title}"><div class="rm-track-preview"><i class="icon-play2 no-margin"></i></div>${title}</div>
        <div class="rm_tracks_cell" title="${artist}">${artist}</div>
        <div class="rm_tracks_cell" title="${album}">${album}</div>
        <div class="rm_tracks_cell" title="${genre}">${genre}</div>
        <div class="rm_tracks_cell" auto-time="${duration}"></div>
        <div class="rm_tracks_cell">${track_number}</div>
        <input type="hidden" value="/radiomanager/previewAudio?track_id=${tid}" />
    </div>
</script>
