<!DOCTYPE html>
<html>
<head>
    <title>Document not found</title>
    <link rel="stylesheet" href="/backend/styles/error.css" type="text/css"/>
</head>
<body>
<div class="wrap">
    <h1>ERROR 404</h1>
    <div id="body">[[ msg ]]</div>
</div>
</body>
</html>