html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  line-height: 140%;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
body {
  line-height: 125%;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Application colors constants */
/* Defaults */
/* Header */
/* Header/Buttons */
a {
  transition: color 0.2s linear;
}
a[href]:hover {
  color: #a4d35a;
}
.hoverable {
  transition: color 0.2s linear;
}
.hoverable:hover,
.hoverable.locked {
  color: #a4d35a;
}
[active-tab].active {
  color: #a4d35a;
}
.group {
  position: relative;
  display: inline-block;
}
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
.expand {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  border-left: 4px solid;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  float: right;
  margin-top: 6px;
}
.spacer {
  clear: both;
}
.button {
  display: inline-block;
  *display: inline;
  padding: 2px 12px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 14px;
  line-height: 20px;
  color: #333333 !important;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
}
.button.red {
  color: #ffffff !important;
  background-color: #f50000;
  background-image: -moz-linear-gradient(top, #ff0000, #e60000);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ff0000), to(#e60000));
  background-image: -webkit-linear-gradient(top, #ff0000, #e60000);
  background-image: -o-linear-gradient(top, #ff0000, #e60000);
  background-image: linear-gradient(to bottom, #ff0000, #e60000);
  background-repeat: repeat-x;
  border: 1px solid #cc0000;
  border-color: #e60000 #e60000 #e60000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #b30000;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff0000', endColorstr='#ffe60000', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.button:active,
.button.toggled {
  background: #4b545f;
  background: linear-gradient(top, #4f5964 0%, #5f6975 40%);
  background: -moz-linear-gradient(top, #4f5964 0%, #5f6975 40%);
  background: -webkit-linear-gradient(top, #4f5964 0%, #5f6975 40%);
  color: #ffffff;
}
.button:not(:last-child) {
  margin-right: 4px;
}
.main-actions {
  position: relative;
}
.main-actions .page-button {
  background: #272d43;
  min-width: 150px;
  border-radius: 6px;
  display: inline-block;
  padding: 10px 15px;
  font-weight: bold;
  transition: opacity linear 250ms;
}
.main-actions .page-button:hover {
  background: #303853;
}
.main-actions .page-button:not(:last-child) {
  margin-right: 8px;
}
input:not(.transparent)[type="text"],
input:not(.transparent)[type="password"],
input:not(.transparent)[type="email"],
textarea:not(.transparent),
select:not(.transparent) {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  background-color: #ffffff;
  border: 1px solid #d3d3d3;
  *border-radius: 4px;
  padding: 5px;
  outline: none;
  width: 100%;
}
input:not(.transparent)[type="text"]:focus:not(.ng-invalid),
input:not(.transparent)[type="password"]:focus:not(.ng-invalid),
input:not(.transparent)[type="email"]:focus:not(.ng-invalid),
textarea:not(.transparent):focus:not(.ng-invalid),
select:not(.transparent):focus:not(.ng-invalid) {
  border-color: #ffd261;
}
input:not(.transparent)[type="text"]:not(.ng-pristine).ng-invalid,
input:not(.transparent)[type="password"]:not(.ng-pristine).ng-invalid,
input:not(.transparent)[type="email"]:not(.ng-pristine).ng-invalid,
textarea:not(.transparent):not(.ng-pristine).ng-invalid,
select:not(.transparent):not(.ng-pristine).ng-invalid {
  border-color: #ff9ba0;
}
input:not(.transparent)[type="text"]:not(.ng-pristine).ng-valid,
input:not(.transparent)[type="password"]:not(.ng-pristine).ng-valid,
input:not(.transparent)[type="email"]:not(.ng-pristine).ng-valid,
textarea:not(.transparent):not(.ng-pristine).ng-valid,
select:not(.transparent):not(.ng-pristine).ng-valid {
  border-color: #77b779;
}
input:not(.transparent)[type="text"]:disabled,
input:not(.transparent)[type="password"]:disabled,
input:not(.transparent)[type="email"]:disabled,
textarea:not(.transparent):disabled,
select:not(.transparent):disabled {
  background-color: #f0f0f0;
  border: 1px solid #d0d0d0;
}
[ng-click] {
  cursor: pointer;
}
.big-title {
  font-size: 32px;
  font-family: "Myriad Pro Thin", sans-serif;
  margin-bottom: 8px;
}
bookmark {
  cursor: pointer;
}
small {
  font-size: 0.8em;
}
.vertical-padding {
  padding: 0 8px;
}
.darker {
  color: #a4d35a;
}
.only-first-element > :not(:first-child) {
  display: none;
}
.bg-gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  overflow: hidden;
  opacity: 0.6;
}
.bg-gradient .bg-image {
  position: absolute;
  left: -64px;
  top: -64px;
  bottom: -64px;
  right: -64px;
  -webkit-filter: blur(64px);
  -o-filter: blur(64px);
  -moz-filter: blur(64px);
  filter: blur(64px);
  mask: url("/css/blur.svg");
  -webkit-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  background-position: center center;
  background-size: 100%;
}
.blur {
  -webkit-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-filter: blur(4px);
  -o-filter: blur(4px);
  -moz-filter: blur(4px);
  filter: blur(4px);
}
li.vertical-separator {
  width: 16px;
}
.center {
  text-align: center;
}
.block {
  display: block;
}
.auto {
  position: relative;
  margin: 0 auto;
}
.grey {
  color: #aaaaaa;
  *float: right;
  *top: 0;
  *display: block;
}
.fl_r {
  float: right;
}
.fl_l {
  float: left;
}
ul.enumerate {
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 0 8px;
}
ul.enumerate > li {
  list-style-type: circle;
  list-style-position: inside;
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.blink-opacity {
  -webkit-animation: blink 1s linear infinite;
  -moz-animation: blink 1s linear infinite;
  animation: blink 1s linear infinite;
}
.mor-tabs {
  display: block;
  overflow: hidden;
  z-index: 1;
  position: relative;
  margin-top: 8px;
}
.mor-tabs .tab {
  float: left;
  padding: 6px 14px;
  box-sizing: border-box;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
  cursor: pointer;
}
.mor-tabs .tab:hover,
.mor-tabs .tab.active {
  border-top: 1px solid #d1d1cf;
  border-left: 1px solid #d1d1cf;
  border-right: 1px solid #d1d1cf;
  border-bottom: 1px solid #ffffff;
}
.mor-tabs .tab:hover:not(.active) {
  border-bottom: 1px solid #d1d1cf;
}
.mor-tabs-contents {
  margin-top: -1px;
  display: block;
  border: 1px solid #d1d1cf;
  border-radius: 0 4px 4px 4px;
  z-index: 0;
  position: relative;
  margin-bottom: 8px;
}
.mor-tabs-contents .tab-content {
  display: block;
  padding: 14px;
}
translate {
  display: inline;
}
.ptop8px {
  padding-top: 8px;
}
.mtop8px {
  margin-top: 8px;
}
.left {
  float: left;
}
.right {
  float: right;
}
.hiddenOverflow {
  overflow: hidden;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.fixed {
  position: fixed;
}
.right-padded {
  padding-right: 4px;
}
.clearFix:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
}
.border-box {
  box-sizing: border-box;
  -moz-box-sizing: padding-box;
}
/* Application colors constants */
/* Defaults */
/* Header */
/* Header/Buttons */
.shaded-bottom {
  box-shadow: inset 0 -1px 1px -1px #000000;
}
.loading-placeholder {
  text-align: center;
  padding: 32px 0;
}
[fadein] {
  opacity: 0;
}
.mor-block {
  background-color: #ffffff;
  border: 1px solid #e9e9e9;
  border-bottom-width: 3px;
  border-radius: 6px;
  margin-bottom: 18px;
}
.cover {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.cover:not(.dark) {
  background-image: url("/images/no-cover.png");
}
.cover.dark {
  background-image: url("/images/no-cover-dark.png");
}
.cover > img {
  border-radius: inherit;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
.cover .cover-tools {
  position: absolute;
  bottom: 12px;
  text-align: center;
  width: 100%;
}
@import-once "../base/colors";
@import-once "helpers";
header {
  background-color: #272d43;
  height: 64px;
  color: #ffffff;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 2000;
}
header a {
  color: #ffffff;
}
header #hd {
  height: 64px;
}
header #hd .fixed-width {
  background-color: #272d43;
  overflow: visible;
  height: 64px;
}
header #hd .fixed-width #logo {
  height: 64px;
  background-color: #a4d35a;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 11px;
  font-family: "Myriad Pro Thin", sans-serif;
  font-size: 24pt;
}
header #hd .fixed-width #logo:before {
  content: ' ';
  display: block;
  position: absolute;
  width: 100%;
  height: 64px;
  background-color: #a4d35a;
  top: 0;
  left: -100%;
}
header #hd .fixed-width #logo a {
  color: white;
}
header #hd .fixed-width #search {
  height: 64px;
  float: left;
  padding-top: 17px;
  padding-left: 20px;
  padding-right: 16px;
  box-sizing: border-box;
  position: relative;
}
header #hd .fixed-width #search form {
  width: 300px;
  border-radius: 4px;
  padding: 0;
  background-color: #cfd8e8;
  display: block;
  overflow: hidden;
  border: none;
  height: 30px;
}
header #hd .fixed-width #search form.focused {
  background-color: #ffffff;
}
header #hd .fixed-width #search form input[type="text"] {
  overflow: hidden;
  width: 254px;
  border-right: none;
  outline: none;
  vertical-align: top;
  margin-top: 6px;
  margin-left: 4px;
  padding: 0 4px;
  background-color: transparent;
}
header #hd .fixed-width #search form input[type="submit"] {
  margin-top: 3px;
  margin-right: 2px;
  width: 26px;
  height: 24px;
  background: transparent url("/images/mor-icon-search.png") no-repeat center center;
  float: right;
  box-sizing: border-box;
  outline: none;
  cursor: pointer;
}
header #hd .fixed-width #search .search-hint {
  margin-top: 10px;
  position: absolute;
  z-index: 100;
  background-color: #272d43;
  width: 300px;
}
header #hd .fixed-width #search .search-hint .cover {
  width: 24px;
  height: 24px;
  vertical-align: middle;
}
header #hd .fixed-width #search .search-hint .cover play {
  vertical-align: top;
  overflow: visible;
}
header #hd .fixed-width #search .search-hint .cover play i {
  font-size: 8pt;
  line-height: 8px;
}
header #hd .fixed-width #search .search-hint .items {
  box-sizing: border-box;
  width: 100%;
}
header #hd .fixed-width #search .search-hint .items li {
  overflow: hidden;
  position: relative;
}
header #hd .fixed-width #search .search-hint .items li .cover {
  float: left;
  margin-right: 8px;
}
header #hd .fixed-width #search .search-hint .items li a {
  line-height: 24px;
  vertical-align: middle;
  height: 24px;
  padding: 4px 8px;
  display: block;
  color: #dae3e8;
  border: 1px solid;
  border-left-color: #3a4363;
  border-right-color: #141723;
  border-top-color: #3a4363;
  border-bottom-color: #141723;
}
header #hd .fixed-width #search .search-hint .items li a b {
  color: #fff;
}
header #hd .fixed-width #search .search-hint .items li.selected:after {
  position: absolute;
  width: 2px;
  background-color: #77b779;
  content: '';
  top: 0;
  bottom: 0;
}
header #hd .fixed-width #search .search-hint .items li.selected a {
  color: #d3deee;
  background-color: #1e2233;
}
header #hd .fixed-width #buttons {
  float: right;
  padding-top: 22px;
  padding-left: 16px;
  padding-right: 16px;
}
header #hd .fixed-width #buttons a {
  background-color: #000000;
  border-radius: 12px;
  color: #ffffff;
  padding: 6px 16px;
  box-sizing: border-box;
  margin-left: 4px;
}
header #hd .fixed-width #buttons a:hover {
  background-color: #fc7d7d;
}
header #hd .fixed-width #links {
  display: block;
}
header #hd .fixed-width #links > a {
  color: #ffffff;
  padding-top: 22px;
  width: 100px;
  height: 64px;
  display: block;
  float: left;
  box-sizing: border-box;
  text-align: center;
}
header #hd .fixed-width #links > a:hover,
header #hd .fixed-width #links > a.active {
  background-color: #141723;
}
header #hd .fixed-width #links i {
  font-size: 12px;
}
.mor-logo {
  background: url("/images/mor-small.png") no-repeat center center;
  width: 32px;
  height: 32px;
  display: inline-block;
  vertical-align: -5px;
  padding-right: 8px;
}
footer {
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  font-size: 9pt;
  color: #ffffff;
  text-shadow: 1px 1px 1px #000000;
  background-color: #272d43;
  vertical-align: middle;
  padding: 8px 0;
  bottom: 0;
  transition: bottom linear 150ms;
}
footer a {
  color: #ffffff;
  padding: 8px;
}
footer .footer-background .footer-content {
  display: table;
}
footer .footer-background .footer-content .footer-content-list {
  display: table-row;
}
footer .footer-background .footer-content .footer-content-list > li {
  display: table-cell;
  text-align: center;
}
body.image footer {
  background: transparent;
}
body:not(.image) footer {
  box-shadow: inset 0 8px 16px -16px #000000;
}
body.player-visible .special {
  padding-bottom: 40px;
}
body.player-visible footer {
  bottom: 40px;
}
.stream-stats-wrapper {
  padding: 6px 16px;
  overflow: hidden;
  margin-bottom: 16px;
  background-color: #ffffff;
  border: 1px solid #e9e9e9;
  border-bottom-width: 3px;
  border-radius: 6px;
  margin-bottom: 18px;
}
.stream-stats-wrapper .taglist-wrapper {
  margin: 8px 0;
  border-bottom: 1px solid #eeeeee;
}
.stream-stats-wrapper .title {
  font-family: "Myriad Pro Thin";
  font-size: 24pt;
}
.stream-stats-wrapper .info {
  padding: 8px 0;
  white-space: pre-wrap;
}
.similar-streams-wrapper {
  padding: 8px 16px;
  overflow: hidden;
  background-color: #ffffff;
  border: 1px solid #e9e9e9;
  border-bottom-width: 3px;
  border-radius: 6px;
  margin-bottom: 18px;
}
.similar-streams-wrapper .title {
  font-family: "Myriad Pro Thin";
  font-size: 24pt;
}
.similar-streams-wrapper .similar-streams {
  overflow: hidden;
  position: relative;
  margin-top: 8px;
}
.similar-streams-wrapper .similar-streams > li {
  float: left;
  width: 50%;
  overflow: hidden;
  margin-bottom: 16px;
  box-sizing: border-box;
}
.similar-streams-wrapper .similar-streams > li play i {
  font-size: 18pt;
  line-height: 31px;
}
.similar-streams-wrapper .similar-streams > li a {
  color: #666666;
}
.similar-streams-wrapper .similar-streams > li .cover {
  width: 64px;
  height: 64px;
  float: left;
  margin-right: 16px;
}
.similar-streams-wrapper .similar-streams > li .info .title {
  font-family: "Open Sans";
  font-size: 14pt;
  font-weight: 200;
  margin-bottom: 4px;
}
.similar-streams-wrapper .similar-streams > li .info .taglist {
  font-size: 8pt;
}
.similar-streams-wrapper .similar-streams > li .info .owner {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.similar-streams-wrapper .similar-streams > li .info .description {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.sections {
  font-family: "Myriad Pro Thin", sans-serif;
  font-size: 24pt;
  margin-bottom: 16px;
}
.sections > li {
  display: inline-block;
  vertical-align: middle;
}
.sections > li:not(:last-child) {
  margin-right: 24px;
}
.sections > li.active {
  border-bottom: 2px solid #a4d35a;
}
.catalog-title {
  font-family: "Myriad Pro Thin", sans-serif;
  font-size: 24pt;
}
.catalog-title .text .highlight {
  font-weight: bold;
}
.page-sub-title {
  margin-bottom: 32px;
  color: #888888;
  font-size: 12pt;
}
.page-sub-title b {
  color: #000000;
}
.new-stream-catalog-badge {
  margin-right: -12px;
}
.new-stream-catalog-badge .new-stream-catalog {
  overflow: hidden;
  position: relative;
}
.new-stream-catalog-badge .new-stream-catalog > li {
  box-sizing: border-box;
  -moz-box-sizing: padding-box;
  padding-right: 12px;
  width: 20%;
  float: left;
}
.new-stream-catalog-badge .new-stream-catalog > li .cover-section {
  width: 100%;
  height: 178px;
}
.new-stream-catalog-badge .new-stream-catalog > li .cover-section .cover {
  height: 100%;
  width: 100%;
}
.new-stream-catalog-badge .new-stream-catalog > li .cover-section .cover play i {
  font-size: 48pt;
  line-height: 84px;
}
.new-stream-catalog-badge .new-stream-catalog > li .cover-section .cover .overlay-section {
  position: absolute;
  bottom: 8px;
  left: 8px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  border-radius: 4px;
  padding: 6px;
  font-size: 10pt;
}
.new-stream-catalog-badge .new-stream-catalog > li .cover-section .cover .overlay-section .stats i {
  padding-right: 4px;
}
.new-stream-catalog-badge .new-stream-catalog > li .cover-section .cover .overlay-section .stats > span:not(:last-child) {
  padding-right: 8px;
}
.new-stream-catalog-badge .new-stream-catalog > li .info-section {
  box-sizing: border-box;
  height: 60px;
  padding: 4px 0;
  margin-bottom: 16px;
}
.new-stream-catalog-badge .new-stream-catalog > li .info-section .stream-name {
  font-family: "Myriad Pro Thin";
  font-size: 16pt;
  text-transform: uppercase;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.new-stream-catalog-badge .new-stream-catalog > li .info-section .stream-name a {
  display: block;
}
.new-stream-catalog-badge .new-stream-catalog > li .info-section .stats {
  color: #888888;
  font-size: 9pt;
}
.new-stream-catalog-badge .new-stream-catalog > li .info-section .stats i {
  padding-right: 4px;
}
.new-stream-catalog-badge .new-stream-catalog > li .info-section .stats > span:not(:last-child) {
  padding-right: 8px;
}
.new-stream-catalog-badge .new-stream-catalog > li .info-section .now-playing {
  padding-top: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 8pt;
}
.no-streams {
  font-size: 12pt;
}
.no-streams a {
  color: #0382d9;
}
.no-streams a:hover {
  color: #a4d35a;
}
.my-streams-wrapper {
  position: relative;
}
.my-streams-wrapper .streams-actions {
  margin-bottom: 12px;
  text-align: right;
}
.my-streams-wrapper .table {
  width: 100%;
  table-layout: fixed;
}
.my-streams-wrapper .table a {
  color: #808080;
}
.my-streams-wrapper .table a:hover {
  color: #000000;
}
.my-streams-wrapper .table .row:not(.caption):nth-child(even) {
  background: #f0f0f0;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f0f0f0 0%, #eeeeee 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f0f0f0), color-stop(100%, #eeeeee));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f0f0f0 0%, #eeeeee 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f0f0f0 0%, #eeeeee 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f0f0f0 0%, #eeeeee 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #f0f0f0 0%, #eeeeee 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@color1', endColorstr='@color2', GradientType=0);
  /* IE6-9 */
}
.my-streams-wrapper .table .row:not(.caption):hover {
  background: #e0e0e0;
  /* Old browsers */
  background: -moz-linear-gradient(top, #e0e0e0 0%, #d0d0d0 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e0e0e0), color-stop(100%, #d0d0d0));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #e0e0e0 0%, #d0d0d0 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #e0e0e0 0%, #d0d0d0 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #e0e0e0 0%, #d0d0d0 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #e0e0e0 0%, #d0d0d0 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@color1', endColorstr='@color2', GradientType=0);
  /* IE6-9 */
}
.my-streams-wrapper .table .row.caption {
  font-weight: bold;
}
.my-streams-wrapper .table .row .cell {
  padding: 4px 4px;
  vertical-align: middle;
}
.my-streams-wrapper .table .row .cell:first-child {
  text-align: right;
  width: 25px;
}
.my-streams-wrapper .table .row .cell:nth-child(2) a {
  display: block;
}
.my-streams-wrapper .table .row .cell:nth-last-child(4) {
  width: 100px;
  text-align: center;
}
.my-streams-wrapper .table .row .cell:nth-last-child(3) {
  width: 80px;
  text-align: right;
}
.my-streams-wrapper .table .row .cell:nth-last-child(2) {
  text-align: right;
  width: 50px;
}
.my-streams-wrapper .table .row .cell:last-child {
  text-align: right;
  width: 80px;
}
.uploader h1 {
  font-size: 32px;
  font-family: "Myriad Pro Thin", sans-serif;
}
.uploader .padding {
  padding-top: 4px;
}
.uploader .upload-frame {
  width: 100%;
  height: 100px;
  vertical-align: middle;
  line-height: 99px;
  text-align: center;
  border: 1px solid #f0f0f0;
  border-radius: 4px;
  cursor: pointer;
}
.uploader .info-block {
  font-size: 10pt;
  margin-bottom: 16px;
}
.uploader .stream-selector {
  margin-top: 16px;
  margin-bottom: 16px;
}
.uploader .stream-selector select {
  margin-bottom: 4px;
}
.uploader .buttons {
  text-align: right;
}
.uploader .progress {
  margin-top: 32px;
  margin-bottom: 40px;
}
.uploader .progress b {
  color: #808080;
}
.uploader .selected-files {
  margin-top: 8px;
}
.uploader .selected-files h2 {
  margin-bottom: 4px;
  font-size: 9pt;
}
.uploader .selected-files .scroll-y {
  background-color: #eeeeee;
  border-radius: 4px;
  padding: 4px;
  position: relative;
  max-height: 250px;
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 9pt;
}
.uploader .selected-files .scroll-y .table {
  width: 100%;
  table-layout: fixed;
}
.uploader .selected-files .scroll-y .table .row:nth-child(odd) {
  background-color: #e0e0e0;
}
.uploader .selected-files .scroll-y .table .row .cell {
  padding: 0 2px;
}
.uploader .selected-files .scroll-y .table .row .cell:first-child {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.uploader .selected-files .scroll-y .table .row .cell:nth-last-child(2) {
  width: 60px;
  text-align: right;
}
.uploader .selected-files .scroll-y .table .row .cell:nth-last-child(1) {
  width: 20px;
  text-align: right;
}
.profile-info h2 {
  font-size: 16pt;
  font-family: "Myriad Pro Thin", sans-serif;
  padding: 0 8px;
}
.profile-info .basic-info {
  background-color: #f2f2f2;
  border-radius: 6px;
  width: 100%;
  table-layout: fixed;
  margin-bottom: 16px;
}
.profile-info .basic-info tr td {
  padding: 8px;
}
.profile-info .basic-info tr td:first-child {
  width: 225px;
}
/* Tracks Library */
.link {
  margin-bottom: 14px;
}
.link .small {
  font-weight: 400;
}
.tracks-wrap .dws-wrap {
  margin-bottom: 8px;
  overflow: visible;
  background-color: #f2f2f2;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 4px;
  position: relative;
}
.tracks-wrap .dws-wrap .filter {
  float: left;
  width: 250px;
}
.tracks-wrap .dws-wrap .clear {
  float: left;
}
.tracks-wrap .dws-wrap .clear .button {
  margin-top: 2px;
  margin-left: 2px;
}
.tracks-wrap .dws-wrap .controls {
  float: right;
}
.tracks-wrap .dws-wrap .controls .button {
  margin-top: 2px;
  margin-right: 2px;
}
.tracks-wrap .upload-button {
  display: block;
  text-align: center;
  padding: 2px 4px;
  border: 1px dashed #f2f2f2;
  margin-bottom: 4px;
  cursor: pointer;
}
.tracks-wrap .upload-button:hover {
  color: #0382d9;
}
.tracks-wrap .empty-playlist {
  padding: 32px 0;
}
.tracks-wrap .empty-playlist .inner {
  margin: 0 32px;
  text-align: center;
  line-height: 2.0em;
}
.tracks-wrap table.tracks {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}
.tracks-wrap table.tracks tr {
  cursor: default;
}
.tracks-wrap table.tracks tr:nth-child(odd) {
  background-color: #f2f2f2;
}
.tracks-wrap table.tracks tr:nth-child(even) {
  background-color: #ffffff;
}
.tracks-wrap table.tracks tr.selected {
  color: #eeeeee;
}
.tracks-wrap table.tracks tr.selected:nth-child(odd) {
  background-color: #273352;
}
.tracks-wrap table.tracks tr.selected:nth-child(even) {
  background-color: #283858;
}
.tracks-wrap table.tracks tr.now {
  background: #4b545f;
  background: linear-gradient(top, #4f5964 0%, #5f6975 40%);
  background: -moz-linear-gradient(top, #4f5964 0%, #5f6975 40%);
  background: -webkit-linear-gradient(top, #4f5964 0%, #5f6975 40%);
  color: #ffffff;
}
.tracks-wrap table.tracks tr td {
  position: relative;
  padding: 2px 2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.tracks-wrap table.tracks tr td:first-child {
  width: 36px;
  text-align: right;
}
.tracks-wrap table.tracks tr td:first-child:after {
  left: 0;
  top: 0;
  width: 8px;
  position: absolute;
  height: 100%;
  content: '';
  background-color: transparent;
  opacity: 0.5;
}
.tracks-wrap table.tracks tr td:first-child.col1:after {
  background-color: #008800;
}
.tracks-wrap table.tracks tr td:first-child.col2:after {
  background-color: #d9d900;
}
.tracks-wrap table.tracks tr td:first-child.col3:after {
  background-color: #d97200;
}
.tracks-wrap table.tracks tr td:first-child.col4:after {
  background-color: #d90000;
}
.tracks-wrap table.tracks tr td:first-child.col5:after {
  background-color: #d953ab;
}
.tracks-wrap table.tracks tr td:first-child.col6:after {
  background-color: #6855d9;
}
.tracks-wrap table.tracks tr td:first-child.col7:after {
  background-color: #0001d9;
}
.tracks-wrap table.tracks tr td:first-child.col8:after {
  background-color: #0382d9;
}
.tracks-wrap table.tracks tr td:first-child.col9:after {
  background-color: #00ced9;
}
.tracks-wrap table.tracks tr td:first-child.col10:after {
  background-color: #36d979;
}
.tracks-wrap table.tracks tr td:first-child.col11:after {
  background-color: #8dd987;
}
.tracks-wrap table.tracks tr td:first-child.col12:after {
  background-color: #b9968f;
}
.tracks-wrap table.tracks tr td:nth-child(2) {
  width: 16px;
  text-align: center;
}
.tracks-wrap table.tracks tr td:nth-last-child(2) {
  width: 100px;
}
.tracks-wrap table.tracks tr td:last-child {
  width: 54px;
  text-align: right;
}
preview {
  opacity: 0.7;
  cursor: pointer;
}
preview:hover {
  opacity: 1;
}
preview .icon-pause-circle-fill {
  color: #000000;
}
.metadata-editor h1 {
  font-size: 32px;
  font-family: "Myriad Pro Thin", sans-serif;
  margin-bottom: 8px;
}
.metadata-editor .subinfo {
  margin-bottom: 8px;
}
.metadata-editor .bold {
  font-weight: bold;
}
.metadata-editor .editor {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}
.metadata-editor .editor tr td {
  padding-top: 4px;
  padding-bottom: 4px;
  vertical-align: top;
}
.metadata-editor .editor tr td textarea {
  min-height: 200px;
  font-family: monospace;
}
.metadata-editor .editor tr td:first-child {
  width: 120px;
}
.metadata-editor .editor tr td:nth-child(2) {
  width: 30px;
}
.metadata-editor .editor tr td .info-block {
  font-size: 9pt;
  color: #ff6b72;
  padding: 0 8px;
}
.metadata-editor .controls {
  text-align: right;
  margin-top: 8px;
}
.metadata-editor .controls .button {
  min-width: 100px;
}
.player-container {
  left: 0;
  position: fixed;
  width: 100%;
  margin: 0;
  padding: 0;
  height: 40px;
  bottom: -40px;
  z-index: 100;
  background-color: #181e30;
  overflow: visible;
  color: #ffffff;
  transition: bottom linear 150ms;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}
.cool-player {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  position: relative;
}
.cool-player a {
  color: #ffffff;
}
.cool-player i {
  font-size: 18px;
  cursor: pointer;
}
.cool-player .radio-cover {
  width: 40px;
}
.cool-player .radio-cover .cover {
  width: 40px;
  height: 40px;
  border-radius: 0;
}
.cool-player .radio-title {
  width: 250px;
  vertical-align: middle;
  padding: 0 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.cool-player .radio-title .title {
  vertical-align: middle;
  font-family: "Myriad Pro Thin", sans-serif;
  font-size: 16pt;
}
.cool-player .social-buttons {
  width: 128px;
  vertical-align: middle;
  text-align: center;
  padding: 0 8px;
}
.cool-player .social-buttons > *:not(:first-child) {
  margin-left: 12px;
}
.cool-player .play-controls {
  padding: 0 8px;
  width: 32px;
  vertical-align: middle;
  text-align: center;
}
.cool-player .track-title {
  vertical-align: middle;
  font-family: "Myriad Pro Thin", sans-serif;
  font-size: 14pt;
}
.cool-player .right-tools {
  vertical-align: middle;
  text-align: right;
  padding-right: 16px;
  width: 64px;
}
body.player-visible .player-container {
  box-shadow: 0 0 10px #000;
  bottom: 0;
}
.stream-info {
  background-color: #181e30;
  border-bottom: 1px solid #171a2f;
  border-top: 1px solid #171a2f;
  color: #eeeeee;
  position: relative;
  margin-bottom: 24px;
}
.stream-info a {
  color: white;
  font-weight: 600;
}
.stream-info #controls {
  padding: 32px 32px 16px;
  box-sizing: border-box;
  overflow: hidden;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.stream-info #controls .cover {
  float: left;
  width: 192px;
  height: 192px;
}
.stream-info #controls .about {
  font-weight: 200;
  padding-left: 32px;
  overflow: hidden;
}
.stream-info #controls .about .tools {
  float: right;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 4px 2px;
  border-radius: 4px;
  opacity: 0.5;
  transition: 0.2s opacity linear;
}
.stream-info #controls .about .tools:hover {
  opacity: 1;
}
.stream-info #controls .about .tools .icons {
  position: relative;
}
.stream-info #controls .about .tools .icons i {
  font-size: 24px;
  vertical-align: top;
  padding: 4px 4px;
}
.stream-info #controls .about .tools .icons i:hover {
  text-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
}
.stream-info #controls .about .tools .icons i.icon-share-alt {
  font-size: 22px;
}
.stream-info #controls .about .tools .icons i.shown {
  background-color: #000000;
  border-radius: 4px 4px 0 0;
}
.stream-info #controls .about .tools .icons > li {
  display: inline-block;
}
.stream-info #controls .about .tools .icons .settings-badge {
  z-index: 2;
  width: 210px;
  position: absolute;
  background-color: #000000;
  right: 0;
  border-radius: 4px 0 4px 4px;
  padding: 8px;
}
.stream-info #controls .about .tools .icons .settings-badge h3 {
  text-align: center;
  margin-bottom: 8px;
  font-weight: bold;
}
.stream-info #controls .about .tools .icons .settings-badge h4 {
  float: left;
  line-height: 24px;
  vertical-align: middle;
}
.stream-info #controls .about .tools .icons .settings-badge h4.format {
  width: 48px;
}
.stream-info #controls .about .tools .icons .settings-badge .formats {
  white-space: nowrap;
}
.stream-info #controls .about .tools .icons .settings-badge .formats > li {
  box-sizing: border-box;
  line-height: 24px;
  font-size: 9pt;
  display: inline-block;
  width: 38px;
  text-align: center;
  vertical-align: middle;
}
.stream-info #controls .about .tools .icons .settings-badge .formats > li.current {
  background-color: #3a8599;
  border-radius: 4px;
  color: #ffffff;
}
.stream-info #controls .about .name {
  font-size: 30pt;
  font-family: "Myriad Pro Thin", sans-serif;
  line-height: 100%;
  padding-bottom: 4px;
  height: 44px;
}
.stream-info #controls .about .owner {
  padding-bottom: 12px;
}
.stream-info #controls .about .owner .subaction a {
  color: rgba(255, 255, 255, 0.7);
}
.stream-info #controls .about .owner .subaction a:hover {
  color: #ffffff;
}
.stream-info #controls .about .stats i {
  color: rgba(255, 255, 255, 0.7);
}
.stream-info #controls .about .stats span {
  margin: 0 8px 0 4px;
  font-weight: 600;
}
.stream-info #controls .about .stats span:first-child {
  margin-left: 0;
}
.stream-info #controls .about .stream-controls {
  margin-top: 6px;
  float: right;
}
.stream-info #controls .about .stream-controls i {
  font-size: 20px;
}
.stream-info #controls .about .now-playing-frame {
  padding-top: 12px;
}
.stream-info #controls .about .now-playing-frame .player {
  position: relative;
}
.stream-info #controls .about .now-playing-frame .player .toggle {
  float: left;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  margin-right: 12px;
  font-size: 46pt;
  line-height: 64px;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  background: #f2f2f2;
  background-image: -webkit-linear-gradient(top, #f2f2f2, #bfbfbf);
  background-image: -moz-linear-gradient(top, #f2f2f2, #bfbfbf);
  background-image: -ms-linear-gradient(top, #f2f2f2, #bfbfbf);
  background-image: -o-linear-gradient(top, #f2f2f2, #bfbfbf);
  background-image: linear-gradient(to bottom, #f2f2f2, #bfbfbf);
  border: solid #c2c2c2 1px;
  text-decoration: none;
  color: #000000;
  text-shadow: none;
}
.stream-info #controls .about .now-playing-frame .player .key {
  padding-top: 2px;
}
.stream-info #controls .about .now-playing-frame .player .value {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "Myriad Pro Thin", sans-serif;
  font-size: 24pt;
}
.stream-info #controls .about .now-playing-frame .player .value.artist {
  color: #a4d35a;
}
.stream-info #controls .about .now-playing-frame .player .value .fast-edit {
  display: none;
}
.stream-info #controls .about .now-playing-frame .player .value .sub-edit {
  font-size: 20px;
  opacity: 0.5;
}
.stream-info #controls .about .now-playing-frame .player .value .sub-edit:hover {
  opacity: 1;
}
.stream-info:hover .fast-edit {
  display: inline !important;
}
.schedule-container {
  position: relative;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.schedule-container .tracks-toggle {
  text-align: center;
}
.schedule-container .tracks-toggle .tracks-toggle-text-content {
  text-transform: uppercase;
}
.schedule-container .tracks-list {
  margin-top: 8px;
}
.schedule-container .tracks-list:not(.open) {
  display: none;
}
.schedule-container .tracks-list .track-row {
  padding: 6px 4px;
}
.schedule-container .tracks-list .track-row .fixed-width {
  overflow: hidden;
  position: relative;
}
.schedule-container .tracks-list .track-row .fixed-width .track-title {
  overflow: hidden;
  position: relative;
}
.schedule-container .tracks-list .track-row .fixed-width .track-title .track-edit-tools {
  padding-left: 6px;
}
.schedule-container .tracks-list .track-row .fixed-width .track-title .track-edit-tools i {
  opacity: 0.4;
}
.schedule-container .tracks-list .track-row .fixed-width .track-title .track-edit-tools i:hover {
  opacity: 1;
  text-shadow: 0 0 4px rgba(255, 255, 255, 0.4);
}
.schedule-container .tracks-list .track-row .fixed-width .track-artist {
  float: right;
  width: 45%;
}
.schedule-container .tracks-list .track-row .fixed-width .track-duration {
  float: right;
  width: 50px;
  text-align: right;
}
.schedule-container .tracks-list .track-row .fixed-width .track-offset {
  float: left;
  width: 45px;
  text-align: center;
}
.schedule-container .tracks-list .track-row .fixed-width .track-now {
  float: left;
  width: 32px;
  text-align: center;
}
.schedule-container .tracks-list .track-row .fixed-width .track-now > i {
  visibility: hidden;
}
.schedule-container .tracks-list .track-row:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.1);
}
.schedule-container .tracks-list .track-row:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.1);
}
.schedule-container .tracks-list .track-row.current .track-now > i {
  visibility: visible;
  -webkit-animation: blink 1s linear infinite;
  -moz-animation: blink 1s linear infinite;
  animation: blink 1s linear infinite;
}
.container-padding {
  padding: 8px 32px;
  box-sizing: border-box;
}
.stream-share {
  font-size: 9pt;
}
.stream-share h1 {
  font-size: 11pt;
  margin-bottom: 16px;
}
.stream-share .contents {
  position: relative;
}
.stream-share .contents .tab-share {
  padding: 32px 0;
}
.stream-share .contents .tab-share .social-buttons {
  margin-top: 16px;
}
.stream-share .contents input[type="text"] {
  font-size: 9pt;
}
.stream-share .embed-preview {
  margin-top: 12px;
  position: relative;
}
.stream-share .embed-preview .embed-frame {
  position: relative;
  text-align: center;
}
.stream-share .controls {
  text-align: right;
  margin-top: 16px;
}
.stream-share .controls .button {
  min-width: 100px;
}
.track-extra-info {
  font-size: 9pt;
  width: 350px;
  color: #aaaaaa;
}
.track-extra-info .track-info {
  width: 100%;
  border-collapse: collapse;
}
.track-extra-info .track-info tr th {
  padding: 8px 6px;
  font-weight: bold;
}
.track-extra-info .track-info tr td {
  text-align: left;
  padding: 2px 6px;
}
.track-extra-info .track-info tr td:first-child {
  font-weight: bold;
  width: 80px;
}
.track-extra-info .track-info tr td:last-child {
  color: #ffffff;
}
.track-extra-info .track-info tr td .stream {
  padding: 2px 0;
}
.categories_container {
  text-align: left;
  position: relative;
}
.categories_container > * {
  display: inline-block;
  width: 226px;
  height: 226px;
  background-color: #f2f2f2;
  margin: 4px;
  text-align: left;
  vertical-align: middle;
  overflow: hidden;
  position: relative;
  opacity: 1;
  transition: opacity linear 100ms;
}
.categories_container > * img {
  vertical-align: middle;
  width: 100%;
  height: 100%;
  border: none;
}
.categories_container > *:hover {
  background-color: #f8f8f8;
  opacity: 0.7;
}
.categories_container > * .fixed {
  position: absolute;
  left: 8px;
  right: 8px;
  top: 8px;
  overflow: hidden;
}
.categories_container > * .fixed .name {
  color: #ffffff;
  padding-left: 4px;
  padding-right: 4px;
  text-align: left;
  float: left;
  clear: both;
}
.categories_container > * .fixed .name > span {
  background: #000000;
  box-shadow: 4px 0 0 #000000, -4px 0 0 #000000;
  box-decoration-break: clone;
}
.categories_container > * .streams {
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  color: #ffffff;
  bottom: 8px;
  right: 8px;
  font-size: 10pt;
  text-align: left;
  position: absolute;
  clear: both;
  z-index: 2;
}
.categories_container > * .streams > span {
  display: table-cell;
  width: 72px;
  height: 72px;
  vertical-align: middle;
  padding: 0 4px;
  text-align: center;
  box-sizing: border-box;
}
.categories_container > * .streams > span .bigger {
  font-size: 12pt;
}
.carousel {
  position: fixed;
  bottom: 0px;
  margin-bottom: 96px;
  width: 1000px;
  line-height: 100%;
}
.carousel .carousel-container {
  position: relative;
  height: 200px;
}
.carousel .carousel-container .tiles {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}
.carousel .carousel-container .tiles .tile {
  box-sizing: border-box;
  white-space: normal;
  display: inline-block;
  vertical-align: middle;
  width: 200px;
  height: 200px;
}
.carousel .carousel-container .tiles .tile .padded {
  margin: 8px;
  border-radius: 6px;
  height: 184px;
  display: block;
  position: relative;
}
.carousel .carousel-container .tiles .tile .padded .cover {
  width: 100%;
  height: 100%;
}
.carousel .carousel-container .tiles .tile .padded .name {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  margin: 8px;
  padding: 0 4px;
  font-size: 9pt;
}
play {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 10;
  transition: opacity linear 250ms;
}
play:not(:hover) {
  opacity: 0;
}
play .play-pause {
  width: 50%;
  height: 50%;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -25%;
  margin-top: -25%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  color: #eee;
  text-align: center;
  cursor: pointer;
}
.mortip {
  position: absolute;
  background-color: #000000;
  background: #101010;
  /* Old browsers */
  background: -moz-linear-gradient(top, #101010 0%, #000000 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #101010), color-stop(100%, #000000));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #101010 0%, #000000 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #101010 0%, #000000 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #101010 0%, #000000 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #101010 0%, #000000 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@color1', endColorstr='@color2', GradientType=0);
  /* IE6-9 */
  font-size: 10pt;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  z-index: 1000000;
  color: #ffffff;
  border-radius: 6px;
  display: none;
  text-align: center;
  opacity: 0;
}
.mortip .content {
  padding: 4px 8px;
}
.mortip .corner {
  position: absolute;
  margin-left: -8px;
}
.mortip.visible {
  display: block;
}
.mortip.top {
  margin-bottom: 8px;
}
.mortip.top .corner {
  top: 100%;
  width: 0;
  height: 0;
  border-top: 8px solid #000000;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}
.mortip.bottom {
  margin-top: 8px;
}
.mortip.bottom .corner {
  bottom: 100%;
  width: 0;
  height: 0;
  border-bottom: 8px solid #101010;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}
nav.main {
  float: left;
  width: 164px;
  position: relative;
  padding-left: 8px;
  top: 0;
  left: 0;
}
nav.main a {
  padding: 8px;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
nav.main ul li {
  border-radius: 4px 0 0 4px;
}
nav.main ul li a:hover {
  color: #009cff;
}
nav.main ul li.active {
  border-left: 1px solid #a4d35a;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
nav.main ul li ul.sub-menu li {
  border-radius: 0;
  font-size: 8pt;
  padding-left: 8px;
}
nav.main ul li ul.sub-menu li a {
  padding: 4px 8px;
}
nav.main ul li ul.sub-menu li.active {
  border: none;
}
nav.main ul li ul.sub-menu li.active a {
  color: #009cff;
}
nav.main ul li ul.sub-menu li:last-child a {
  padding-bottom: 8px;
}
.dialog-wrap h2 {
  font-weight: bold;
}
.dialog-wrap .big-icon {
  padding-top: 16px;
  font-size: 48px;
  float: left;
}
.dialog-wrap .dialog-body {
  padding-top: 16px;
  padding-bottom: 16px;
  text-align: center;
}
.dialog-wrap .buttons {
  margin-top: 16px;
  text-align: right;
}
.dialog-wrap .buttons .button {
  min-width: 64px;
  padding: 8px 12px;
}
.dialog-wrap .buttons .button:not(:last-child) {
  margin-right: 4px;
}
.context-menu {
  overflow: visible;
  position: absolute;
  border-radius: 4px;
  border: 1px solid #e5e5e5;
  padding-top: 4px;
  padding-bottom: 4px;
  box-shadow: rgba(32, 32, 32, 0.3) 0 6px 12px 0;
  box-sizing: border-box;
  background: #ffffff;
  z-index: 1000;
}
.context-menu.fixed {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
}
.context-menu.open {
  display: block;
}
.context-menu.drop-down {
  display: none;
  top: 0;
}
.context-menu.fl {
  right: 0;
}
.context-menu.fr {
  left: 0;
}
.context-menu.left-side {
  right: 100%;
}
.context-menu.right-side {
  left: 100%;
}
.context-menu > li {
  min-width: 200px;
  white-space: nowrap;
}
.context-menu > li.divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.context-menu > li:not(.divider) {
  padding: 2px 10px;
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
}
.context-menu > li:not(.divider):hover {
  background-color: #eeeeee;
}
.context-menu > li:not(.divider):hover > .drop-down {
  display: block;
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    opacity: 0.4;
  }
  50% {
    -webkit-transform: rotate(180deg);
    opacity: 1;
  }
  to {
    -webkit-transform: rotate(360deg);
    opacity: 0.4;
  }
}
@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
    opacity: 0.4;
  }
  50% {
    -moz-transform: rotate(180deg);
    opacity: 1;
  }
  to {
    -moz-transform: rotate(360deg);
    opacity: 0.4;
  }
}
@-ms-keyframes spin {
  from {
    -ms-transform: rotate(0deg);
    opacity: 0.4;
  }
  50% {
    -ms-transform: rotate(180deg);
    opacity: 1;
  }
  to {
    -ms-transform: rotate(360deg);
    opacity: 0.4;
  }
}
@-o-keyframes spin {
  from {
    -o-transform: rotate(0deg);
    opacity: 0.4;
  }
  50% {
    -o-transform: rotate(180deg);
    opacity: 1;
  }
  to {
    -o-transform: rotate(360deg);
    opacity: 0.4;
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
    opacity: 0.2;
  }
  50% {
    transform: rotate(180deg);
    opacity: 1;
  }
  to {
    transform: rotate(360deg);
    opacity: 0.2;
  }
}
.busy-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  z-index: 10000;
  color: #808080;
}
.busy-wrap .cell {
  vertical-align: middle;
  text-align: center;
}
.busy-wrap .cell .rotate {
  font-size: 96px;
  -webkit-animation: spin 1s linear infinite;
  -moz-animation: spin 1s linear infinite;
  -ms-animation: spin 1s linear infinite;
  -o-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}
.busy-wrap .cell .loading {
  font-size: 18pt;
  font-family: "Myriad Pro Thin", sans-serif;
  padding-top: 4px;
}
.popup-background {
  right: 0;
  position: fixed;
  margin-right: 16px;
  top: 64px;
  z-index: 100000;
  background: transparent;
  margin-top: 16px;
}
.popup-background .popup-item {
  width: 350px;
  min-height: 40px;
  position: relative;
  background: #ffffff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #f0f0f0 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #f0f0f0));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffffff 0%, #f0f0f0 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffffff 0%, #f0f0f0 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffffff 0%, #f0f0f0 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #ffffff 0%, #f0f0f0 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@color1', endColorstr='@color2', GradientType=0);
  /* IE6-9 */
  border-radius: 4px;
  margin-bottom: 16px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  font-size: 9pt;
  overflow: hidden;
  cursor: default;
}
.popup-background .popup-item .table {
  width: 100%;
  height: 40px;
}
.popup-background .popup-item .table .row .image-logo {
  display: table-cell;
  width: 40px;
  min-height: 40px;
  height: 100%;
  background-color: #272d43;
  position: relative;
  overflow: hidden;
  background-image: url("/images/logos/mor-logo-64px-transparent.png");
  background-position: center center;
  background-size: 38px;
  background-repeat: no-repeat;
}
.popup-background .popup-item .table .row .text-wrap {
  display: table-cell;
  overflow: hidden;
  padding: 3px 8px;
  width: auto;
  min-height: 40px;
  box-sizing: border-box;
  vertical-align: top;
}
.popup-background .popup-item .table .row .text-wrap .text {
  line-height: 1.45em;
  vertical-align: middle;
}
