<div class="audio">
    <div class="cell left cover">
        <img class="cover" ng-if="player.currentStream.cover" ng-src="{{player.currentStream.cover_url}}?s=64">
    </div>
    <div class="cell left controls">
        <div class="play_button" ng-class="player.isPlaying ? 'playing' : 'stopped'" ng-click="player.controls.switch()"></div>
    </div>
    <div class="cell left caption">
        <div class="title">{{ player.nowPlaying.title | uppercase }}</div>
        <div class="artist">by {{ player.nowPlaying.artist }}</div>
    </div>
    <div class="cell center timeline"></div>
    <div class="cell right volume"></div>
</div>