<div id="layer">
    <div id="green"></div>
</div>
<div id="hd">
    <div class="fixed-width">
        <div id="buttons">
            <span ng-hide="account.authorized">
                <a href="/login?go={{ url }}" mor-tooltip="Log in to your existing account">Login</a>
                <a href="/signup" mor-tooltip="Create new account">Sign Up</a>
            </span>
            <span ng-show="account.authorized">
                <a href="/profile/" mor-tooltip="Go to your profile page">My Profile</a>
                <a href="#" ng-click="account.logout()" mor-tooltip="Logout from account">Logout</a>
            </span>
        </div>
        <h2 id="logo">
            <a href="/"><i class="mor-logo"></i>MYOWNRADIO<sup>beta</sup></a>
        </h2>
        <div id="search" ng-controller="SearchFormController">
            <form ng-class="focused ? 'focused' : ''" name="search" novalidate="novalidate">
                <input ng-model="filter"
                       class="transparent"
                       type="text"
                       placeholder="Search..."
                       name="filter"
                       autocomplete="off"
                       analytics-on="change" analytics-event="Search" analytics-category="Streams" analytics-label="{{ filter }}">
                <input mor-tooltip="Search" type="submit" value="">
            </form>
            <div class="search-hint" ng-if="filter.length > 0 && focused == true">
                <ul class="items" navigable-list="selected">
                    <li class="head" ng-click="goSearch()">
                        <a ng-href="/search/{{ filter | escape }}">Search for '<b>{{ filter }}</b>'</a>
                    </li>
                    <li ng-repeat="stream in streams" ng-click="goStream(stream.key)">
                        <a ng-href="/streams/{{stream.key}}">
                            <div class="cover dark">
                                <img ng-if="stream.cover" ng-src="{{stream.cover_url}}?size=24">
                            </div>
                            {{ stream.name }}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="links">
            <a href="/streams/" mor-tooltip="Browse streams catalog"><i class="icon-wifi-tethering"></i> Channels</a>
            <a href="/categories/" mor-tooltip="Browse streams categories"><i class="icon-folder"></i> Categories</a>
        </div>
    </div>
</div>
