<ul class="context-menu select-persistent fixed" id="track-menu">
    <li>
        <i class="icon-add"></i>
        <translate>MENU_ADD_TO_STATION</translate>
        <span class="expand"></span>
        <ul class="context-menu drop-down right-side">
            <li class="hiddenOverflow relative" ng-repeat="stream in account.streams" ng-click="addToStream(stream)">
                <span class="grey right" ng-bind="stream.tracks_count"></span>
                <i class="icon-wifi-tethering"></i>
                <span class="ellipsis" ng-bind="stream.name"></span>
            </li>
        </ul>
    </li>
    <li class="menu-item" ng-click="edit()">
        <i class="icon-mode-edit"></i>
        <translate>MENU_EDIT_TRACK</translate>
    </li>
    <li class="menu-item divider"></li>
    <li>
        <i class="icon-create"></i>
        <translate>MENU_CHANGE_COLOR</translate>
        <span class="expand"></span>
        <ul class="context-menu drop-down right-side">
            <li ng-repeat="group in lib.groups" ng-click="changeGroup(group)">
                <i style="color:{{ group.color_code || 'none' }}" class="icon-circle"></i>
                <span ng-bind="group.color_name"></span>
            </li>
        </ul>
    </li>
    <li class="menu-item divider"></li>
    <li ng-click="deleteSelected()">
        <i class="icon-delete"></i>
        <translate>MENU_REMOVE_FROM_LIBRARY</translate>
    </li>
</ul>
