<ul class="context-menu select-persistent fixed" id="track-menu">
    <li class="menu-item" ng-if="target.length == 1" ng-click="playFrom()"><i class="icon-play-arrow"></i> Play form here</li>
    <li class="menu-item" ng-click="edit()"><i class="icon-mode-edit"></i> Edit info</li>
    <li class="menu-item divider"></li>
    <li>
        <i class="icon-add"></i> Add to stream <span class="expand"></span>
        <ul class="context-menu left-side drop-down">
            <li ng-repeat="stream in account.streams" ng-click="addToStream(stream)">
                <i class="icon-wifi-tethering"></i> {{ stream.name }} <span class="grey">{{stream.tracks_count}}</span>
            </li>
        </ul>
    </li>
    <li>
        <i class="icon-add"></i> Move to stream <span class="expand"></span>
        <ul class="context-menu left-side drop-down">
            <li ng-repeat="stream in account.streams" ng-click="moveToStream(stream)">
                <i class="icon-wifi-tethering"></i> {{ stream.name }} <span class="grey">{{stream.tracks_count}}</span>
            </li>
        </ul>
    </li>
    <li>
        <i class="icon-create"></i> Change color <span class="expand"></span>
        <ul class="context-menu drop-down left-side" align-vertical="">
            <li ng-repeat="group in lib.groups" ng-click="changeGroup(group)">
                <i style="color:{{ group.color_code || 'none' }}" class="icon-circle"></i> {{ group.color_name }}
            </li>
        </ul>
    </li>
    <li class="menu-item divider"></li>
    <li class="menu-item" ng-click="deleteSelected()"><i class="icon-cross"></i> Delete from stream</li>
    <li class="menu-item" ng-click="deleteCompletelySelected()"><i class="icon-delete"></i> Delete tracks</li>
</ul>