hashtags {
  display: inline-block;
  cursor: text;
  position: relative;
  min-height: 32px;
  vertical-align: middle;
  .current-tag {
    vertical-align: middle;
    padding: 2px 0;
    cursor: text;
    outline: none;
  }
  .current-hash:before {
    content: "#";
  }
  .tags {
    .tag {
      padding: 1px 4px;
      border-radius: 2px;
      margin-right: 4px;
      display: inline-block;
      background-color: #9f9f9f;
      text-shadow: 1px 1px 1px #606060;
      color: #ffffff;
      &:before {
        content: "#";
      }
    }
  }
}
