<div class="fixed-width">
    <div id="page-contents">
        <div class="form-wrap">
            <h1><i class="icon-done"></i>SIGN UP</h1>

            <div class="hint top">
                We sent to your email a letter with further steps to continue registration.
                Please check your mailbox in a few minutes for letter and follow confirmation link in it.
            </div>
            <a href="/" type="button" style="float: right">Back to home</a>
        </div>
    </div>
</div>