<div class="fixed-width">
    <div id="page-contents">
        <nav class="main" main-navigation=""></nav>
        <div class="form-wrap full-width" ng-controller="StreamEditorController">
            <div class="avatar-changer" ng-controller="StreamCoverController">
                <div class="cover" ng-click="upload()">
                    <img fadein ng-if="stream.cover" ng-src="{{stream.cover_url}}?size=96" />
                </div>
                <div ng-click="upload()" class="button">
                    <translate>FR_PROMO_ARTWORK_CHANGE</translate>
                </div>
            </div>
            <form class="float" name="stream_form" ng-submit="submit()" novalidate="novalidate">
                <h1 class="form-title">
                    <i class="icon-mode-edit"></i>
                    <translate filter="uppercase">FR_EDIT_CHANNEL_INFO</translate>
                </h1>
                <div class="status" bind-html="error"></div>
                <div class="status info" bind-html="status"></div>
                <table class="form-table">
                    <tr>
                        <td>
                            <label for="name">
                                <translate>FR_STATION_NAME</translate>
                            </label>
                        </td>
                        <td>
                            <input type="text" name="name" id="name" ng-model="stream.name" ng-minlength="3" autocomplete="off" />
                            <div ng-show="stream_form.name.$dirty">
                                <div class="validation" ng-show="stream_form.name.$error.minlength">
                                    <translate>VALIDATOR_STREAM_NAME_SHORT</translate>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <translate>FR_HASHTAGS</translate>
                        </td>
                        <td>
                            <hashtags id="tags" ng-model="stream.hashtags" placeholder="{{ tr('FR_HASHTAGS_PLACEHOLDER') }}"></hashtags>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="categories">Category:</label>
                        </td>
                        <td>
                            <select id="categories" name="country_id" ng-model="stream.category"
                                    ng-options="categories.category_id as categories.category_name for categories in lib.categories">
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="access">Access:</label>
                        </td>
                        <td>
                            <select id="access" name="access_id" ng-model="stream.access"
                                    ng-options="access.access as access.description for access in lib.access">
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="permalink">
                                <translate>FR_PERMALINK</translate>
                            </label>
                        </td>
                        <td>
                            <label for="permalink" class="permalink-prefix">http://radioter.io/streams/</label>
                            <input type="text" class="stream-permalink" name="permalink" id="permalink" ng-model="stream.permalink"
                                   is-available="streamPermalink" mor-context="{{stream.sid}}" pattern="^[a-z0-9\\-]*$" autocomplete="off"
                                   placeholder="{{ stream.sid }}" />
                            <div ng-show="stream_form.permalink.$dirty">
                                <div class="validation" ng-show="stream_form.permalink.$error.pattern">
                                    <translate>VALIDATOR_PERMALINK_CHARS</translate>
                                </div>
                                <div class="validation" ng-show="stream_form.permalink.$error.available">
                                    <translate>VALIDATOR_PERMALINK_USED</translate>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <label for="info">
                                <translate>FR_INFORMATION</translate>
                            </label>
                            <textarea class="under-label" name="info" id="info" ng-model="stream.info"></textarea>
                        </td>
                    </tr>
                </table>
                <input ng-disabled="stream_form.$invalid" type="submit" value="{{ tr('FR_UPDATE') }}" style="float:right">
            </form>
        </div>
    </div>
</div>