<div class="fixed-width">
    <div id="page-contents">
        <div class="form-wrap">
            <form name="recovery" ng-submit="submit()">
                <h1><i class="icon-https"></i> {{ tr('FR_PASSWORD_CHANGE') }}</h1>

                <div class="hint top" bind-html="tr('FR_CHANGE_PASSWORD_HINT')"></div>
                <div class="status">{{ status }}</div>
                <table class="form-table">
                    <tr>
                        <td>
                            <label for="password1">{{ tr('FR_PASSWORD') }}:</label>
                        </td>
                        <td>
                            <input type="password"
                                   name="password1"
                                   id="password1"
                                   ng-model="reset.password"
                                   ng-required="true"
                                   ng-minlength="6"
                                   ng-maxlength="32"
                                   ng-focus="true"
                                    />

                            <div class="validation" ng-show="recovery.password1.$focused && !recovery.password1.$pristine">
                                <div ng-if="recovery.password1.$error.required">
                                    {{ tr('FR_PASSWORD_MUST_BE_FILLED') }}
                                </div>
                                <div ng-if="recovery.password1.$error.minlength || recovery.password1.$error.maxlength">
                                    {{ tr('VALIDATOR_PASSWORD_LENGTH', [6, 32]) }}
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="password2">{{ tr('FR_PASSWORD_AGAIN') }}:</label>
                        </td>
                        <td>
                            <input type="password"
                                   name="password2"
                                   id="password2"
                                   ng-required="true"
                                   compare-to="reset.password"
                                   ng-focus="true"
                                   ng-model="reset.confirmation"
                                    />

                            <div class="validation" ng-show="recovery.password2.$focused && !recovery.password2.$pristine">
                                <div ng-if="recovery.password2.$error.compareTo">
                                    {{ tr('FR_PASSWORD_MISMATCH') }}
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
                <input ng-disabled="recovery.$invalid" type="submit" value="{{ tr('FR_PASSWORD_CHANGE') }}" style="float: right">
            </form>
        </div>
    </div>
</div>