<div class="fixed-width">
    <div id="page-contents">
        <div class="form-wrap">
            <form name="recovery" ng-submit="submit()" novalidate="novalidate">
                <h1>
                    <i class="icon-https"></i>
                    <translate filter="uppercase">FRAME_PASSWORD_RECOVERY</translate>
                </h1>
                <div class="hint top">
                    <translate>LABEL_RESET_PASSWORD1</translate>
                </div>
                <div class="status" bind-html="status"></div>
                <table class="form-table">
                    <tr>
                        <td>
                            <label for="login">
                                <translate>LABEL_LOGIN_EMAIL</translate>
                            </label>
                        </td>
                        <td>
                            <input type="text"
                                   id="login"
                                   name="login"
                                   ng-model="reset.login"
                                   ng-required="true"
                                   ng-focus="true"
                                   must-exist="login"
                                   autocomplete="off"
                                    />
                            <div class="validation" ng-show="recovery.login.$focused && !recovery.login.$pristine">
                                <div ng-if="recovery.login.$error.required">
                                    <translate>WARN_LOGIN_EMPTY</translate>
                                </div>
                                <div ng-if="recovery.login.$error.exists">
                                    <translate attrs="{ login: recovery.login }">WARN_NO_USER_BY_LOGIN</translate>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
                <input class="right" ng-disabled="recovery.$invalid" type="submit" value="{{ tr('LABEL_SUBMIT') }}">
            </form>
        </div>
    </div>
</div>