<div class="fixed-width">
    <div id="page-contents">
        <div class="form-wrap">
            <form name="recovery" ng-submit="submit()">
                <h1>
                    <i class="icon-https"></i>
                    <translate filter="uppercase">FRAME_CHANGE_PASSWORD</translate>
                </h1>
                <div class="hint top">
                    <translate>LABEL_CHANGE_PASSWORD1</translate>
                </div>
                <div class="status" bind-html="status"></div>
                <table class="form-table">
                    <tr>
                        <td>
                            <label for="password1">
                                <translate>LABEL_NEW_PASSWORD</translate>
                            </label>
                        </td>
                        <td>
                            <input type="password" name="password1" id="password1" ng-model="reset.password" ng-required="true"
                                   ng-minlength="6" ng-maxlength="32" ng-focus="true" />

                            <div class="validation" ng-show="recovery.password1.$focused && !recovery.password1.$pristine">
                                <div ng-if="recovery.password1.$error.required">
                                    <translate>WARN_PASSWORD_EMPTY</translate>
                                </div>
                                <div ng-if="recovery.password1.$error.minlength || recovery.password1.$error.maxlength">
                                    <translate args="[6, 32]">VALIDATOR_PASSWORD_LENGTH</translate>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="password2">
                                <translate>LABEL_PASSWORD_AGAIN</translate>
                            </label>
                        </td>
                        <td>
                            <input type="password" name="password2" id="password2" ng-required="true" compare-to="reset.password"
                                   ng-focus="true" ng-model="reset.confirmation" />
                            <div class="validation" ng-show="recovery.password2.$focused && !recovery.password2.$pristine">
                                <div ng-if="recovery.password2.$error.compareTo">
                                    <translate>FR_PASSWORD_MISMATCH</translate>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
                <input class="right" ng-disabled="recovery.$invalid" type="submit" value="{{ tr('FR_PASSWORD_CHANGE') }}">
            </form>
        </div>
    </div>
</div>