<div class="fixed-width">
    <div id="page-contents">
        <div class="form-wrap">
            <form name="recovery" ng-submit="submit()" novalidate="novalidate">
                <h1><i class="icon-https"></i>PASSWORD RECOVERY</h1>
                <div class="hint top">
                    Tell us your login or email address and we'll send you instructions on how to reset your password.
                </div>
                <span>{{ status }}</span>
                <table class="form-table">
                    <tr>
                        <td>
                            <label for="login">Login:</label>
                        </td>
                        <td>
                            <input type="text"
                                   id="login"
                                   name="login"
                                   ng-model="reset.login"
                                   ng-required="true"
                                   ng-focus="true"
                                   must-exist="login"
                                   autocomplete="off"
                                    />
                            <div class="validation" ng-show="recovery.login.$focused && !recovery.login.$pristine">
                                <div ng-if="recovery.login.$error.required">Login field must be set</div>
                                <div ng-if="recovery.login.$error.exists">User with this login not exists</div>
                            </div>
                        </td>
                    </tr>
                </table>
                <input ng-disabled="recovery.$invalid" type="submit" value="Begin" style="float:right">
            </form>
        </div>
    </div>
</div>