<div class="fixed-width">
    <div id="page-contents">
        <div class="form-wrap">
            <form name="recovery" ng-submit="submit()">
                <h1><i class="icon-https"></i>CHANGE PASSWORD</h1>

                <div class="hint top">If you forget your existing password here you can change it to another one. Please enter new password for your account</div>
                <div class="status">{{ status }}</div>
                <table class="form-table">
                    <tr>
                        <td>
                            <label for="password1">Password:</label>
                        </td>
                        <td>
                            <input type="password"
                                   name="password1"
                                   id="password1"
                                   ng-model="reset.password"
                                   ng-required="true"
                                   ng-minlength="6"
                                   ng-maxlength="32"
                                   ng-focus="true"
                                    />

                            <div class="validation" ng-show="recovery.password1.$focused && !recovery.password1.$pristine">
                                <div ng-if="recovery.password1.$error.required">
                                    Password must be filled
                                </div>
                                <div ng-if="recovery.password1.$error.minlength">
                                    Password required to be at least 6 chars
                                </div>
                                <div ng-if="recovery.password1.$error.maxlength">
                                    Password cannot be longer than 32 chars
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="password2">Password again:</label>
                        </td>
                        <td>
                            <input type="password"
                                   name="password2"
                                   id="password2"
                                   ng-required="true"
                                   compare-to="reset.password"
                                   ng-focus="true"
                                   ng-model="reset.confirmation"
                                    />

                            <div class="validation" ng-show="recovery.password2.$focused && !recovery.password2.$pristine">
                                <div ng-if="recovery.password2.$error.compareTo">
                                    Entered password must match previous
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
                <input ng-disabled="recovery.$invalid" type="submit" value="Change password" style="float: right">
            </form>
        </div>
    </div>
</div>