<div class="fixed-width">
    <div id="page-contents">
        <div class="form-wrap">
            <form name="signup_form" ng-submit="submit()" novalidate="novalidate">
                <h1><i class="icon-https"></i> {{ tr('FR_SIGN_UP') | uppercase }}</h1>

                <div class="hint top" bind-html="tr('FR_SIGN_UP_COMPLETE_WELCOME')"></div>
                <div class="status" bind-html="status"></div>
                <table class="form-table">
                    <tr>
                        <td>
                            <label for="login">{{ tr('FR_LOGIN') }}:</label>
                        </td>
                        <td>
                            <input type="text"
                                   id="login"
                                   name="login"
                                   ng-model="signup.login"
                                   ng-required="true"
                                   ng-minlength="3"
                                   ng-maxlength="32"
                                   ng-pattern="/^[0-9a-z\\_]+$/"
                                   ensure-unique="login"
                                   autocomplete="off"
                                   ng-focus="true"
                                   autofocus="true"
                                    />

                            <div class="validation" ng-show="signup_form.login.$focused && !signup_form.login.$pristine">
                                <div ng-if="signup_form.login.$error.required">
                                    {{ tr('FR_LOGIN_MUST_BE_FILLED') }}
                                </div>
                                <div ng-if="signup_form.login.$error.minlength || signup_form.login.$error.maxlength">
                                    {{ tr('VALIDATOR_LOGIN_LENGTH', [3, 32]) }}
                                </div>
                                <div ng-if="signup_form.login.$error.pattern">
                                    {{ tr('VALIDATOR_LOGIN_CHARS') }}
                                </div>
                                <div ng-if="signup_form.login.$error.unique">
                                    {{ tr('VALIDATOR_LOGIN_UNAVAILABLE') }}
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="name">{{ tr('FR_YOUR_NAME') }}:</label>
                        </td>
                        <td>
                            <input type="text"
                                   id="name"
                                   name="name"
                                   ng-model="signup.name"
                                   ng-maxlength="32"
                                   ng-focus="true"
                                   autocomplete="off"
                                    />

                            <div class="validation" ng-show="signup_form.name.$focused && !signup_form.name.$pristine">
                                <div ng-if="signup_form.name.$error.maxlength">
                                    {{ tr('VALIDATOR_USER_NAME_LENGTH', [32]) }}
                                </div>
                            </div>
                            <div class="padding"></div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="name">{{ tr('FR_COUNTRY') }}:</label>
                        </td>
                        <td>
                            <select name="country_id" ng-model="signup.country_id" ng-options="country.country_id as country.country_name for country in lib.countries">
                                <option value="" selected>Unspecified</option>
                            </select>
                            <div class="padding"></div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="password1">{{ tr('FR_PASSWORD') }}:</label>
                        </td>
                        <td>
                            <input type="password"
                                   id="password1"
                                   name="password1"
                                   ng-model="signup.password"
                                   ng-required="true"
                                   ng-minlength="6"
                                   ng-maxlength="32"
                                   ng-focus="true"
                                    />

                            <div class="validation" ng-show="signup_form.password1.$focused && !signup_form.password1.$pristine">
                                <div ng-if="signup_form.password1.$error.required">
                                    {{ tr('FR_PASSWORD_MUST_BE_FILLED') }}
                                </div>
                                <div ng-if="signup_form.password1.$error.minlength || signup_form.password1.$error.maxlength">
                                    {{ tr('VALIDATOR_PASSWORD_LENGTH', [6, 32]) }}
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="password2">{{ tr('FR_PASSWORD_AGAIN') }}:</label>
                        </td>
                        <td>
                            <input type="password"
                                   id="password2"
                                   name="password2"
                                   ng-model="check"
                                   compare-to="signup.password"
                                   ng-required="true"
                                   ng-focus="true"
                                    />

                            <div class="validation" ng-show="signup_form.password2.$focused && !signup_form.password2.$pristine">
                                <div ng-if="signup_form.password2.$error.compareTo">
                                    {{ tr('FR_PASSWORD_MISMATCH') }}
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
                <input ng-disabled="signup_form.$invalid" type="submit" value="{{ tr('FR_SIGN_UP') }}" style="float: right">
            </form>
        </div>
    </div>
</div>