<div class="fixed-width">
    <div id="page-contents">
        <div class="form-wrap">
            <form name="signup_form" ng-submit="submit()" novalidate="novalidate">
                <h1>
                    <i class="icon-https"></i>
                    <translate filter="uppercase">FR_SIGN_UP</translate>
                </h1>

                <div class="hint top">
                    <translate>FR_SIGN_UP_COMPLETE_WELCOME</translate>
                </div>
                <div class="status" bind-html="status"></div>
                <table class="form-table">
                    <tr>
                        <td>
                            <label for="login">
                                <translate>FR_LOGIN_DOTS</translate>
                            </label>
                        </td>
                        <td>
                            <input type="text"
                                   id="login"
                                   name="login"
                                   ng-model="signup.login"
                                   ng-required="true"
                                   ng-minlength="config.validate.user.login.min"
                                   ng-maxlength="config.validate.user.login.max"
                                   ng-pattern="config.validator.user.login.pattern"
                                   ensure-unique="login"
                                   autocomplete="off"
                                   ng-focus="true"
                                   autofocus="true"
                                    />

                            <div class="validation" ng-show="signup_form.login.$focused && signup_form.login.$dirty">
                                <div ng-if="signup_form.login.$error.required">
                                    <translate>FR_LOGIN_MUST_BE_FILLED</translate>
                                </div>
                                <div ng-if="signup_form.login.$error.minlength || signup_form.login.$error.maxlength">
                                    <translate args="[3, 32]">VALIDATOR_LOGIN_LENGTH</translate>
                                </div>
                                <div ng-if="signup_form.login.$error.pattern">
                                    <translate>VALIDATOR_LOGIN_CHARS</translate>
                                </div>
                                <div ng-if="signup_form.login.$error.unique">
                                    <translate>VALIDATOR_LOGIN_UNAVAILABLE</translate>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="name">
                                <translate>FR_YOUR_NAME_DOTS</translate>
                            </label>
                        </td>
                        <td>
                            <input type="text"
                                   id="name"
                                   name="name"
                                   ng-model="signup.name"
                                   ng-maxlength="config.validate.user.name.max"
                                   ng-focus="true"
                                   autocomplete="off"
                                    />

                            <div class="validation" ng-show="signup_form.name.$focused && !signup_form.name.$pristine">
                                <div ng-if="signup_form.name.$error.maxlength">
                                    <translate args="[ 0, config.validate.user.name.max ]">VALIDATOR_USER_NAME_LENGTH</translate>
                                </div>
                            </div>
                            <div class="padding"></div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="name">
                                <translate>FR_COUNTRY_DOTS</translate>
                            </label>
                        </td>
                        <td>
                            <select name="country_id" ng-model="signup.country_id" ng-options="country.country_id as country.country_name for country in lib.countries">
                                <option value="" selected ng-bind="tr('FR_UNSPECIFIED')"></option>
                            </select>
                            <div class="padding"></div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="password1">
                                <translate>FR_PASSWORD_DOTS</translate>
                            </label>
                        </td>
                        <td>
                            <input type="password"
                                   id="password1"
                                   name="password1"
                                   ng-model="signup.password"
                                   ng-required="true"
                                   ng-minlength="config.validate.user.password.min"
                                   ng-maxlength="config.validate.user.password.max"
                                   ng-focus="true"
                                    />

                            <div class="validation" ng-show="signup_form.password1.$focused && !signup_form.password1.$pristine">
                                <div ng-if="signup_form.password1.$error.required">
                                    <translate>FR_PASSWORD_MUST_BE_FILLED</translate>
                                </div>
                                <div ng-if="signup_form.password1.$error.minlength || signup_form.password1.$error.maxlength">
                                    <translate args="[ config.validate.user.password.min, config.validate.user.password.max ]">VALIDATOR_PASSWORD_LENGTH</translate>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="password2">
                                <translate>FR_PASSWORD_AGAIN_DOTS</translate>
                            </label>
                        </td>
                        <td>
                            <input type="password"
                                   id="password2"
                                   name="password2"
                                   ng-model="check"
                                   compare-to="signup.password"
                                   ng-required="true"
                                   ng-focus="true" />

                            <div class="validation" ng-show="signup_form.password2.$focused && !signup_form.password2.$pristine">
                                <div ng-if="signup_form.password2.$error.compareTo">
                                    <translate>FR_PASSWORD_MISMATCH</translate>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
                <input class="right" ng-disabled="signup_form.$invalid" type="submit" value="{{ tr('FR_SIGN_UP') }}">
            </form>
        </div>
    </div>
</div>