.App {
  width: 100vw;
  height: 100vh;
}

.Overlay {
  width: 100vw;
  height: 56.25vw;
  background: #223344;
  position: relative;
}

.Overlay-cover {
  width: 150px;
  height: 150px;
  position: absolute;
  bottom: 64px;
  left: 64px;
}

.Overlay-cover img {
  width: 100%;
  height: 100%;
}

.Overlay-track {
  font-family: "Myriad Pro Thin", serif;
  position: absolute;
  bottom: 105px;
  left: calc(64px + 150px + 32px);
  color: #ffffff;
}

.Overlay-track_title {
  text-transform: uppercase;
  font-size: 24pt;
  font-weight: 200;
}

.Overlay-track_artist {
  text-transform: uppercase;
  font-size: 18pt;
  color: rgba(255, 255, 255, .85);
}
