@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-bq7y3r');
	src:url('fonts/icomoon.eot?#iefix-bq7y3r') format('embedded-opentype'),
		url('fonts/icomoon.woff?-bq7y3r') format('woff'),
		url('fonts/icomoon.ttf?-bq7y3r') format('truetype'),
		url('fonts/icomoon.svg?-bq7y3r#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-embed:before {
	content: "\f121";
}

.icon-share-alt:before {
	content: "\f1e0";
}

.icon-play-default:before {
	content: "\f04e";
}

.icon-pause-default:before {
	content: "\f04f";
}

.icon-tune-default:before {
	content: "\f002";
}

.icon-heart:before {
	content: "\f004";
}

.icon-star:before {
	content: "\f005";
}

.icon-star-o:before {
	content: "\f006";
}

.icon-play:before {
	content: "\f04b";
}

.icon-pause2:before {
	content: "\f04c";
}

.icon-stop2:before {
	content: "\f04d";
}

.icon-chevron-up:before {
	content: "\f077";
}

.icon-chevron-down:before {
	content: "\f078";
}

.icon-thumbs-o-up:before {
	content: "\f087";
}

.icon-thumbs-o-down:before {
	content: "\f088";
}

.icon-heart-o:before {
	content: "\f08a";
}

.icon-bars:before {
	content: "\f0c9";
}

.icon-circle-o:before {
	content: "\f10c";
}

.icon-circle:before {
	content: "\f111";
}

.icon-star-half-empty:before {
	content: "\f123";
}

.icon-music:before {
	content: "\f001";
}

.icon-bar-chart:before {
	content: "\f080";
}

.icon-filter2:before {
	content: "\f0b0";
}

.icon-magic:before {
	content: "\f0d0";
}

.icon-spinner:before {
	content: "\f110";
}

.icon-vk:before {
	content: "\f189";
}

.icon-database:before {
	content: "\f1c0";
}

.icon-trash:before {
	content: "\f1f8";
}

.icon-spinner4:before {
	content: "\e97d";
}

.icon-spinner9:before {
	content: "\e982";
}

.icon-switch:before {
	content: "\e9b6";
}

.icon-spinner2:before {
	content: "\e97b";
}

.icon-warning:before {
	content: "\ea07";
}

.icon-question:before {
	content: "\ea09";
}

.icon-cross:before {
	content: "\ea0f";
}

.icon-checkmark:before {
	content: "\ea10";
}

.icon-shuffle:before {
	content: "\ea30";
}

.icon-filter:before {
	content: "\ea5b";
}

.icon-facebook2:before {
	content: "\ea8d";
}

.icon-twitter2:before {
	content: "\ea92";
}

.icon-account-child:before {
	content: "\e600";
}

.icon-backup:before {
	content: "\e601";
}

.icon-credit-card:before {
	content: "\e602";
}

.icon-delete:before {
	content: "\e603";
}

.icon-done:before {
	content: "\e604";
}

.icon-home:before {
	content: "\e606";
}

.icon-https:before {
	content: "\e607";
}

.icon-open-with:before {
	content: "\e608";
}

.icon-query-builder:before {
	content: "\e609";
}

.icon-settings:before {
	content: "\e60a";
}

.icon-shopping-cart:before {
	content: "\e60b";
}

.icon-toc:before {
	content: "\e60c";
}

.icon-hearing:before {
	content: "\e60d";
}

.icon-pause:before {
	content: "\e60e";
}

.icon-pause-circle-fill:before {
	content: "\e60f";
}

.icon-play-arrow:before {
	content: "\e610";
}

.icon-play-circle-fill:before {
	content: "\e611";
}

.icon-queue-mus:before {
	content: "\e62b";
}

.icon-stop:before {
	content: "\e612";
}

.icon-volume-down:before {
	content: "\e613";
}

.icon-volume-mute:before {
	content: "\e614";
}

.icon-volume-off:before {
	content: "\e615";
}

.icon-volume-up:before {
	content: "\e616";
}

.icon-messenger:before {
	content: "\e617";
}

.icon-portable-wifi-off:before {
	content: "\e618";
}

.icon-add:before {
	content: "\e619";
}

.icon-clear:before {
	content: "\e61a";
}

.icon-create:before {
	content: "\e61b";
}

.icon-storage:before {
	content: "\e627";
}

.icon-wifi-tethering:before {
	content: "\e61c";
}

.icon-attach-money:before {
	content: "\e61d";
}

.icon-border-color:before {
	content: "\e62a";
}

.icon-mode-edit:before {
	content: "\e61e";
}

.icon-vertical-align-bottom:before {
	content: "\e61f";
}

.icon-vertical-align-top:before {
	content: "\e620";
}

.icon-cloud-upload:before {
	content: "\e62c";
}

.icon-folder:before {
	content: "\e628";
}

.icon-folder-open:before {
	content: "\e629";
}

.icon-keyboard-arrow-down:before {
	content: "\e621";
}

.icon-keyboard-arrow-left:before {
	content: "\e622";
}

.icon-keyboard-arrow-right:before {
	content: "\e623";
}

.icon-keyboard-arrow-up:before {
	content: "\e624";
}

.icon-timer-auto:before {
	content: "\e625";
}

.icon-local-offer:before {
	content: "\e626";
}

