<span style="font-size: 12pt">
    <b>Successfully registered on MyOwnRadio service</b><br>
    <br>
    Congratulations!<br>
    <br>
    You're successfully registered on <a href="https://myownradio.biz/">myownradio.biz</a>.
    You can login to your account by following this link:<br>
    <br>
    <a href='http://myownradio.biz/login'>Login</a><br>
    <br>
    You can activate <b>Extended Year</b> account by entering this promo code until <b>Jun, 1 2015</b>:<br>
    <br>
    <b style="font-size: 16pt">"3758649255931190"</b><br>
    <br>
    in the <b>Change plan</b> section in your profile page.<br>
    <br>
    Sincerely yours,<br>
    The MyOwnRadio Team
</span>