<span style="font-size: 12pt">
    <b>Your radio station bookmarked by one person</b>
    <br>
    <br>
    User <b>${user}</b> added your radio station <a href="${station_url}">${station}</a> to bookmarks.
    <br>
    <br>
    Sincerely yours,<br>
    The MyOwnRadio Team
</span>