.sections {
  & > li {
    display: inline-block;
    vertical-align: middle;
    &:not(:last-child) {
      margin-right: 24px;
    }
    &.active {
      border-bottom: 2px solid @HEAD_LOGO_BACKGROUND_COLOR;
    }
  }
  font-family: "Myriad Pro Thin", sans-serif;
  font-size: 24pt;
  margin-bottom: 32px;
}

.catalog-title {
  font-family: "Myriad Pro Thin", sans-serif;
  font-size: 24pt;
  margin-bottom: 32px;
  .text {
    .highlight {
      font-weight: bold;
    }
  }
}

.blah-section {
  margin-bottom: 32px;
  width: 100%;
  .blah-row {
    .category-choose {
      vertical-align: middle;
      text-align: right;
      .label {
        margin-right: 8px;
      }
      .category-selector {
        display: inline-block;
        width: 250px;
      }
    }
    .info-block {
      font-size: 12pt;
      vertical-align: middle;
    }
  }
}

.new-stream-catalog-badge {
  margin-right: -12px;
  .new-stream-catalog {
    overflow: hidden;
    position: relative;
    & > li {
      box-sizing: border-box;
      padding-right: 12px;
      width: 20%;
      float: left;

      .cover-section {
        width: 100%;
        height: 178px;
        .cover {
          height: 100%;
          width: 100%;
          play {
            i {
              font-size: 48pt;
              line-height: 84px;
            }
          }
          .overlay-section {
            position: absolute;
            bottom: 8px;
            left: 8px;
            background-color: rgba(0,0,0,0.5);
            color: #ffffff;
            border-radius: 4px;
            padding: 6px;
            font-size: 10pt;
            .stats {
              i {
                padding-right: 4px;
              }
              & > span:not(:last-child) {
                padding-right: 8px;
              }
            }
          }
        }

      }

      .info-section {
        box-sizing: border-box;
        height: 60px;
        padding: 4px 0;
        margin-bottom: 16px;
        .stream-name {
          font-family: "Myriad Pro Thin";
          font-size: 16pt;
          text-transform: uppercase;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          a {
            display: block;
          }
        }
        .stats {
          color: @APP_TEXT_COLOR;
          i {
            padding-right: 4px;
          }
          & > span:not(:last-child) {
            padding-right: 8px;
          }
        }
      }
    }
  }

}

.stream-catalog {
  & > li {

    overflow: hidden;
    margin-bottom: 8px;
    padding-right: 12px;
    box-sizing: border-box;
    position: relative;

    .cover {
      border-radius: 0;
      box-shadow: inset -5px 0 10px -10px #000000;

      play {
        i {
          font-size: 48pt;
          line-height: 94px;
        }
      }
    }

    .mor-block();

    .cover {
      width: 200px;
      height: 200px;
      float: left;
      margin-right: 12px;
    }
    .body {
      overflow: hidden;

      .title {
        a {
          font-family: "Myriad Pro Thin";
          font-size: 24pt;
          vertical-align: bottom;
        }
        .stats {
          color: @APP_TEXT_COLOR;
          margin-bottom: 8px;
          i {
            padding-right: 4px;
          }
          & > span:not(:last-child) {
            padding-right: 8px;
          }
        }
        .now-playing {
          margin-top: 8px;
          font-size: 9pt;
          float: right;
        }
      }
      .description {
        color: grey;
        white-space: pre-wrap;
      }
    }

  }

}


.no-streams {
  font-size: 12pt;
  a {
    color: @APP_LINK_COLOR;
    &:hover {
      color: @APP_LINK_HOVER_COLOR;
    }
  }
}