<!DOCTYPE html>
<html>
<head>
    <title>HTTP/1.1 400 Bad request</title>
    <link rel="stylesheet" href="/backend/styles/error.css" type="text/css"/>
</head>
<body>
<div class="wrap">
    <h1>BAD REQUEST</h1>
    <div id="body">We're couldn't process your request <span class="uri">{{ uri }}</span> on this server</div>
    <div id="message">{{ message }}</div>
</div>
</body>
</html>