<!DOCTYPE html>
<html>
<head>
    <title>HTTP/1.1 501 Not Implemented</title>
    <link rel="stylesheet" href="/backend/styles/error.css" type="text/css"/>
</head>
<body>
<div class="wrap">
    <h1>ERROR 501</h1>
    <div id="body">Requested method not implemented on this resource</div>
</div>
</body>
</html>