<!DOCTYPE html>
<html>
<head>

    <title>${name} on ${title}</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="Ylla Music Official Site" />
    <meta name="keywords" content="ylla, music, label, progressive, trance, house, chillout, dubstep" />

    <meta property="og:image" content="https:${cover_url}" />
    <meta property="og:url" content="https://myownradio.biz/streams/${key}" />
    <meta property="og:description" content="${info}" />
    <meta property="og:title" content="${name} on ${title}" />


    <meta property="og:audio" content="http://myownradio.biz/widget/?stream_id=${sid}&auto=1">
    <meta property="og:audio:type" content="audio/vnd.facebook.bridge">

    <meta property="fb:app_id" content="731742683610572"/>

</head>
<body></body>
</html>
