<!DOCTYPE html>
<html>
<head>
    <title>Greeting</title>
    <style>
        body {
            font-family: verdana, serif;
            color: #666;
            font-size: 16px;
        }
    </style>
</head>
<body>
    Hello, <b>${ name }!</b>
    <br>
    <br>
    <br>
    <table>
        <tr>
            <th>Login</th>
            <th>Name</th>
            <th>Info</th>
        </tr>
        <tr>
            <td>${ login }</td>
            <td>${ name }</td>
            <td>${ info }</td>
        </tr>
    </table>

</body>
</html>
