<!DOCTYPE html>
<html>
<head>
    <title>Greeting</title>
    <style>
        body {
            font-family: verdana, serif;
            color: #888;
            font-size: 16px;
        }
    </style>
</head>
<body>
    Hello, <b>${ name }!</b>
</body>
</html>
