#EXTM3U
#EXTINF:-1,${stream_name} @ 256K
http://myownradio.biz:7777/audio?id=${stream_id}&br=3
#EXTINF:-1,${stream_name} @ 128K
http://myownradio.biz:7777/audio?id=${stream_id}&br=2
#EXTINF:-1,${stream_name} @ 64K
http://myownradio.biz:7777/audio?id=${stream_id}&br=1
#EXTINF:-1,${stream_name} @ 32K
http://myownradio.biz:7777/audio?id=${stream_id}&br=0
