#EXTM3U
#EXTINF:-1,${stream_name} @ MP3 256K
http://myownradio.biz:7778/audio?s=${stream_id}&f=mp3_256k
#EXTINF:-1,${stream_name} @ MP3 128K
http://myownradio.biz:7778/audio?s=${stream_id}&f=mp3_128k
#EXTINF:-1,${stream_name} @ AAC 128K
http://myownradio.biz:7778/audio?s=${stream_id}&f=aacplus_128k
#EXTINF:-1,${stream_name} @ AAC 64K
http://myownradio.biz:7778/audio?s=${stream_id}&f=aacplus_64k
#EXTINF:-1,${stream_name} @ AAC 32K
http://myownradio.biz:7778/audio?s=${stream_id}&f=aacplus_32k
