#EXTM3U
#EXTINF:-1,${stream_name} @ MP3 256K
https://myownradio.biz/flow?s=${stream_id}&f=mp3_256k&client_id=${client_id}
#EXTINF:-1,${stream_name} @ MP3 128K
https://myownradio.biz/flow?s=${stream_id}&f=mp3_128k&client_id=${client_id}
#EXTINF:-1,${stream_name} @ AAC 128K
https://myownradio.biz/flow?s=${stream_id}&f=aacplus_128k&client_id=${client_id}
#EXTINF:-1,${stream_name} @ AAC 64K
https://myownradio.biz/flow?s=${stream_id}&f=aacplus_64k&client_id=${client_id}
#EXTINF:-1,${stream_name} @ AAC 32K
https://myownradio.biz/flow?s=${stream_id}&f=aacplus_32k&client_id=${client_id}
