<span style="font-size: 12pt;">
    <b>Registration on myownradio.biz</b><br><br>
    To confirm your email address and complete registration on <b>myownradio.biz</b> please follow this link:<br><br>
    <a href='http://myownradio.biz/confirm/${confirm}'>Continue registration</a><br>
    <br>
    <br>
    Sincerely yours,<br>
    The MyOwnRadio Team
</span>