<li>
    <div class="page-stream-list-item">
        <div class="page-stream-list-item-title">
            <ul class="page-stream-list-item-title-bitrates">
                <li><a href="${stream_url}#play" title="Play in MP3 256Kbit/s stereo">PLAY</a></li>
                <li class="orange"><a href="/tools/m3u?stream_id=${stream_id}" title="Open stream in external player">M3U</a></li>
            </ul>
            <a href="${stream_url}" title="">${stream_title}</a>
        </div>
        <div class="page-stream-list-item-genres">${stream_hashtags}</div>
        <div class="page-stream-list-item-info">${stream_info}</div>
    </div>
    <div class="page-stream-list-item-cover-wrapper"></div>
</li>
