.rm-misc-wrapper {
    box-sizing: border-box;
    padding: 16px;
    font-family: "Open Sans";
    font-size: 10pt;
}


.rm-misc-wrapper-header {
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}


