.rm-profile-wrapper {
    box-sizing: border-box;
    padding: 16px;
    font-family: "Open Sans";
    font-size: 10pt;
}


.rm-profile-wrapper-header {
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

.rm-profile-wrapper label {
    font-size: 10pt;
    display: block;
    margin-bottom: 8px;
}

.rm-profile-wrapper-base {
    overflow: hidden;
}

.rm-profile-wrapper-cover {
    float: left;
    margin-right: 15px;
}

.rm-profile-wrapper-cover-image {
    width: 150px;
    height: 150px;
    text-align: center;
    position: relative;
}

.rm-profile-wrapper-cover-image > img {
    display: block;
    width: 100%;
    height: 100%;
    opacity: 1;
}

.rm-profile-wrapper-cover-image > span {
    position: absolute;
    font-size: 8pt;
    z-index: 10;
    bottom: 12px;
    left: 12px;
    right: 12px;
    opacity: 0;
    transition: opacity linear 150ms;
    cursor: pointer;
}

.rm-profile-wrapper-cover-image:hover > span {
    opacity: 1;
}

.rm-profile-wrapper-common {
    position: relative;
    overflow: hidden;
}

.rm-profile-wrapper-common-outsize {
    
}

.rm-profile-wrapper-common-field {
    position: relative;
}

.rm-profile-wrapper-common-input {
    box-sizing: border-box;
    position: relative;
    width: 100%;
}

.rm-profile-wrapper-permalink-prefix {
    position: absolute;
    z-index: 10;
    bottom: 26px;
    margin-left: 8px;
    color: #888;
}

.rm-profile-wrapper-permalink-validate {
    position:absolute;
    right: 8px;
    bottom: 26px;
    z-index: 10;
    color: #f00;
    display: none;
}

.rm-profile-input-permalink-wrap {
    
}

.rm-profile-input-permalink-prefix {
    float: left;
}

.rm-profile-input-permalink-content {
    width: 100%;
    display: block;
    overflow: hidden;
}

.rm-profile-wrapper-additional {
    margin-top: 8px;
}

.rm-profile-wrapper-common-input#info {
    height: 200px;
    resize: none;
}

.rm-profile-wrapper-buttons {
    text-align: right;
}


.rm-profile-wrapper-header tools {
    float: right;
    font-size: 9pt;
}

.rm-profile-wrapper-header tools > a {
    color: #39c;
}