.us-categories-list {
    overflow: hidden;
}

.us-categories-list > li {
    float: left;
    width: 240px;
    height: 75px;
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: center;
    border: 1px solid #000000;
    box-sizing: border-box;
    line-height: 75px;
}

.us-categories-list > li a {
    color: #ffffff;
}
