div.message {
    background-color: #ffffff;
    padding: 16px;
    border-radius: 10px;
    width: 600px;
    left: 50%;
    margin-left:-300px;
    position: relative;
    color: #666;
    line-height: 150%;
    margin-top: 32px;
    -font-size: 12pt;
}

div.message h1 {
    font-family: "Myriad Pro";
    font-size: 22pt;

}