.rm-gui-picker {
    padding-top: 4px;
    min-height: 28px;
    height: auto;
    cursor: text;
}

.rm-gui-picker.focused {
    border-color: #5594b4;
}

.rm-gui-picker-search {
    width: 68px;
    padding: 2px;
    outline: none;
}

.rm-gui-picker-text {
    border: none;
    width: 100%;
    outline: none;
    line-height: 18px;
    height: 28px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    padding: 8px;
}

.rm-gui-picker-container {
    width: 100%;
    background-color: #fff;
    border: 1px solid #eee;
    box-sizing: border-box;
    position: absolute;
    border-radius: 5px;
    padding: 4px;
    display: none;
    max-height: 200px;
    overflow-y: auto;
}

.rm-gui-picker-container .-variants-block {
}

.rm-gui-picker-container .-variants-block .-variants > li {
    padding: 0 8px;
    line-height: 28px;
    height: 28px;
    cursor: pointer;
}

.rm-gui-picker-container .-variants-block .-variants > li:hover {
    background-color: #ddd;
}

.rm-gui-picker-item {
    background-color: #3a87ad;
    color: #eee;
    border-radius: 5px;
    padding: 0 4px;
    margin-right: 4px;
    margin-bottom: 4px;
    display: inline-block;
    cursor: default;
}


.rm-gui-picker-item-close {
    margin-left: 4px;
    cursor: pointer;
}

.rm-gui-picker-empty {
    width: 100%;
    text-align: center;
    padding: 0 8px;
    line-height: 28px;
    height: 28px;
    display: none;
    box-sizing: border-box;
}