ul.rm_streamlist:empty:after {
    padding: 4px;
    content: 'No streams yet';
}


ul.rm_streamlist > li .rm_playStream {
    display: none;
}

ul.rm_streamlist > li:hover .rm-streams-badge {
    display: none;
}

ul.rm_streamlist > li:hover .rm_playStream {
    display: block;
}

.stream-state-color {
    color: #ff0000;
}

ul.rm_streamlist > li[data-state="1"] .stream-state-color {
    color: #00aa00;
}