.rm_sidebar_wrap {
    border-right: 1px solid #eeeeee;
    width: 225px;
    box-sizing: border-box;
    display: table-cell;
    vertical-align: top;
    position: relative;
}

.rm_sidebar_wrap h1 {
    padding-left: 8px;
}

.rm_sidebar_content {
    padding: 0;
    padding-top: 8px;
    
}

.rm_sidebar_list {
    padding-bottom: 12px;
}

.rm_sidebar_list > li {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 16px;
    padding-right: 8px;
}

.rm_sidebar_list > li > a {
    display: block;
}



.rm_sidebar_list {
    
}

ul.rm_sidebar_list > li {
    
}

.rm_sidebar_list > .active,
.rm_sidebar_list > .selected,
.rm_sidebar_list > .current {
    background-color: #c2c7d1;
}


.rm_infobar_container {
    background-color: #eee;
    position: absolute;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    height: 100px;
    padding: 8px;
}

.rm_infobar_list {
    width: 100%;
    text-shadow: 1px 1px 0px #fff;
}

.rm_infobar_list tr td {
    padding: 4px 0;
}

.rm_infobar_list tr td:last-child {
    text-align: right;
    font-weight: bold;
}

.rm_infobar_progress {
    position: relative;
    height: 16px;
    background-color: #888;
    margin-top: 4px;
    box-shadow: inset 1px 1px 4px #555;
}


.rm_infobar_progress #handle {
    width: 0;
    height: 100%;
    position: absolute;
    z-index: 1;
    /* background-color: #25749c; */
    box-shadow: inset -1px -1px 1px #333, inset 1px 1px 1px rgb(57,136,176);
    
    background: rgb(37,116,156); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(37,116,156,1) 0%, rgba(68,126,155,1) 47%, rgba(37,116,156,1) 48%, rgba(37,116,156,1) 48%, rgba(87,132,155,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(37,116,156,1)), color-stop(47%,rgba(68,126,155,1)), color-stop(48%,rgba(37,116,156,1)), color-stop(48%,rgba(37,116,156,1)), color-stop(100%,rgba(87,132,155,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(37,116,156,1) 0%,rgba(68,126,155,1) 47%,rgba(37,116,156,1) 48%,rgba(37,116,156,1) 48%,rgba(87,132,155,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(37,116,156,1) 0%,rgba(68,126,155,1) 47%,rgba(37,116,156,1) 48%,rgba(37,116,156,1) 48%,rgba(87,132,155,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(37,116,156,1) 0%,rgba(68,126,155,1) 47%,rgba(37,116,156,1) 48%,rgba(37,116,156,1) 48%,rgba(87,132,155,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(37,116,156,1) 0%,rgba(68,126,155,1) 47%,rgba(37,116,156,1) 48%,rgba(37,116,156,1) 48%,rgba(87,132,155,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#25749c', endColorstr='#57849b',GradientType=0 ); /* IE6-9 */
}

.rm_infobar_progress #cents {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 8pt;
    padding-top: 3px;
    color: #fff;
    text-shadow: 1px 1px 2px #666;
    z-index: 2;
    box-sizing: border-box;
}

.rm_infobar_progress.over #handle {
    background-color: #9e5454;
}
