.page-form-frame {
    margin-top: 100px;
    margin-bottom: 100px;
    width: 500px;
    background-color: #ffffff;
    padding: 18px 24px;
    left: 50%;
    position: relative;
    margin-left: -250px;
    box-sizing: border-box;
    color: #737c85;
    border-radius: 5px;
}

.page-form-frame b {
    font-weight: bold;
    line-height: 150%;
}

.page-form-frame h1 {
    font-size: 30px;
    margin-bottom: 16px;
    font-family: "Myriad Pro";
}

.page-user-form {
    margin-top: 32px;
    overflow: visible;
}

.page-user-form a {
    color: #4af;
}

.page-user-form > div {
    padding: 8px 0;
}

.page-user-form input[type="text"],
.page-user-form input[type="password"] {
    width: 100%;
    box-sizing: border-box;
    padding: 0 8px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    outline: none;
    border-radius: 3px;
    height: 36px;
    line-height: 36px;
}

.page-user-form input[type="text"]:focus,
.page-user-form input[type="password"]:focus {
    border-color: #4af;
}

.page-form-buttons {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.page-user-form input[type="submit"] {
    float: right;
    margin-top: 8px;
    box-sizing: border-box;
    display: block;
    padding: 8px;
    background-color: #4af;
    border: none; /* 1px solid #dddddd; */
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    width: 130px;
    color: #fff;
}

.page-user-form  input[type="submit"]:hover {
    background-color: #79c2ff;
}

.page-user-form  input[type="checkbox"] {
    margin: 0px;
    margin-right: 4px;
}

.page-form-table {
    border-collapse: collapse;
    width: 100%;
}

.page-form-input-status {
    top: 0px;
    position: absolute;
    color: #000;
    opacity: 0;
    display: inline;
    vertical-align: middle;
    border: 1px solid #eeeeee;
    padding: 4px 8px;
    border-radius: 5px;
    margin-top: 14px;
    margin-left: 14px;
    background-color: #ffffff;
    white-space: nowrap;
    box-shadow: 2px 2px 2px -2px #000;
    transition: opacity linear 150ms;
}

.page-form-input-status:before {
    content: "";
    position: absolute;
    top: 7px;
    left: -5px;
    border-style: solid;
    border-width: 4px 4px 4px 0;
    border-color: transparent #eeeeee;
    display: block;
    width: 0;
    z-index: 0;
}

.page-form-input-status:after {
    content: "";
    position: absolute;
    top: 7px;
    left: -4px;
    border-style: solid;
    border-width: 4px 4px 4px 0;
    border-color: transparent #FFFFFF;
    display: block;
    width: 0;
    z-index: 1;
}


.page-form-table tr > td {
    padding: 8px 0;
    box-sizing: border-box;
    vertical-align: middle;
}

.page-form-table tr > td:nth-child(1) {
    width: 120px;
}

.page-form-table tr > td:nth-child(2) {
    width: 360px;
}

.page-form-table tr > td:nth-child(3) {
    
    position: relative;
}

.page-form-description {
    margin: 8px 0;
    line-height: 150%;
}

.page-form-description > span {
    color: #4af;
}

.page-form-additional {
    margin: 0;
}