.page-player-content {
    background: #000000 url("/images/playerbg2.jpg") no-repeat center center;
    height: 400px;
    color: white;
    text-shadow: 0 0 2px #000000;
    box-shadow: inset 0 0 64px 8px #000;
}


.page-player-title-block {
    font-family: "Myriad Pro Thin";
    font-size: 20pt;
    width: 600px;
    box-sizing: border-box;
    position: relative;
    transition: all linear 150ms;
    top: 80px;
    
}

.page-player-title-nowplaying {
    margin-bottom: 8px;
}

.page-player-title-track {
    font-size: 30pt;
    transition: opacity linear 150ms;
    min-height: 40px;
    /* color: #a4d35a; */
}

.page-player-title-progress {
    margin-top: 24px;
    margin-bottom: 24px;
    margin-left: 2px;
    height: 2px;
    width: 550px;
    box-sizing: border-box;
    background-color: #a4d35a;
    border-radius: 3px;
    box-shadow: 0 0 6px 1px #000000;
}

.page-player-title-hider {
    transition: opacity linear 150ms;
}

.stopped .page-player-title-hider {
    opacity: 0;
}

.page-player-title-progress-value {
    width: 0%;
    height: 100%;
    background-color: #ffffff;
    position: relative;
    transition: all linear 150ms;
}

.page-player-title-progress-value-roll {
    right: -7px;
    top: -6px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #ffffff;
    position: absolute;
    color: #000000;
    font-size: 8pt;
    text-align: center;
    transition: all linear 150ms;
}

.page-player-title-progress-value-roll > i {
    position: relative;
    top: 1.5px;
    text-shadow: none;
}

.page-player-title-next {
    font-size: 22pt;
    color: #ffffff;
    margin-bottom: 8px;
}

.page-player-title-next-track {
    color: #ffffff;
}


.page-player-control-block {
    width: 400px;
    box-sizing: border-box;
    position: relative; 
    font-size: 120pt;
    text-align: center;
    line-height: 360px;
    vertical-align: middle;
}

.page-player-control-button {
    cursor: pointer;
    opacity: 0.5;
    transition: opacity linear 150ms;
}

.page-player-control-button:hover {
    opacity: 1;
}


.page-info-background {

}

.page-info-content {
    min-height: 300px;
    background-color: #161a26;
}

.page-info-main {
    width: 300px;
    padding: 16px 0px;
    box-sizing: border-box;
}

.page-info-main-title {
    color: #ffffff;
    margin-bottom: 4px;
}

.page-info-main-value {
    color: #697486;
    margin-bottom: 16px;
}

.page-info-description {
    width: 700px;
    padding: 16px;
    box-sizing: border-box;
}

.page-title-background {
}

.page-title-content {
    background-color: #161a26;
}

.page-title-text {
    color: white;
    font-size: 30pt;
    font-family: "Myriad Pro Thin";
    margin: 16px 0;
}

.page-title-text > .page-title-test-sep {
    font-size: 20pt;
    vertical-align: 2px;
    margin: 0 !important;
    padding: 0 8px !important;
}

.page-info-description-text {
    line-height: 150%;
}


.page-player-stream-control {
    position: absolute;
    right: 16px;
    bottom: 16px;
    opacity: 0;
    transition: opacity linear 150ms;
}

.page-player-content:hover .page-player-stream-control {
    opacity: 1;
}

.page-player-stream-control-actions {
    overflow: hidden;
}

.page-player-stream-control-actions > li {
    float: left;
    margin: 0 8px;
}

#logger {
    padding: 2px;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 20;
    font-size: 8pt;
    z-index: 1000;
}

/* Bitrate section */

.page-bitrate-container {
    float: right;
    margin: 16px 0;
    line-height: 38px;
}

.page-bitrate-container-list {
    overflow: hidden;
    font-family: "Myriad Pro Thin";
    font-size: 18pt;
}



.page-bitrate-container-list > li {
    float: left;
    padding: 0px 4px;
}

.page-bitrate-container-list > li > a {
    color: #fff;
}

.page-bitrate-container-list > li.active > a {
    color: #4af;
    border-bottom: 1px solid #4af;
}

.page-bitrate-container-list > li:hover > a {
    color: #a4d35a;
}

